/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/*-- [ Colour variable resets ] ----------------------------------------------------------------------------------------------*/
html {
  background: #eeeeee;
}
body {
  color: #584e4d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #211716;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #9a623d;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #78401b;
}
label {
  color: #584e4d;
}
.input-text,
input[type=text],
textarea {
  border-color: #ada3a2;
}
.input-text:focus,
input[type=text]:focus,
textarea:focus {
  border-color: #8b8180;
  box-shadow: 0 1px 2px 0 #dadada;
  -webkit-box-shadow: 0 1px 2px 0 #dadada;
  -moz-box-shadow: 0 1px 2px 0 #dadada;
  -o-box-shadow: 0 1px 2px 0 #dadada;
}
mark {
  color: #584e4d;
}
a {
  color: #9a623d;
}
a:hover {
  color: #78401b;
}
#navigation {
  background: #9a623d;
  background: -webkit-gradient(linear, left top, left bottom, from(#9a623d), to(#885636));
  background: -webkit-linear-gradient(#9a623d, #885636);
  background: -moz-linear-gradient(center top, #9a623d 0%, #885636 100%);
  background: -moz-gradient(center top, #9a623d 0%, #885636 100%);
  border: 1px solid #78401b;
}
#navigation a {
  color: #e9b898;
  text-shadow: 0 -1px 0 #78401b;
}
#navigation .mini-cart li mark.count {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: #ca5661;
  background: -webkit-gradient(linear, left top, left bottom, from(#ca5661), to(#bc424e));
  background: -webkit-linear-gradient(#ca5661, #bc424e);
  background: -moz-linear-gradient(center top, #ca5661 0%, #bc424e 100%);
  background: -moz-gradient(center top, #ca5661 0%, #bc424e 100%);
  text-shadow: 0 1px 0 #a8343f;
}
#navigation .mini-cart li ul.cart_list {
  color: #4f1f00;
  text-shadow: 0 1px 0 #ab734e;
}
#navigation .mini-cart li ul.cart_list li.cart_list_product {
  border-color: #7a421d;
  background: #9a623d;
  background: -webkit-gradient(linear, left top, left bottom, from(#9a623d), to(#885636));
  background: -webkit-linear-gradient(#9a623d, #885636);
  background: -moz-linear-gradient(center top, #9a623d 0%, #885636 100%);
  background: -moz-gradient(center top, #9a623d 0%, #885636 100%);
}
#navigation .mini-cart li ul.cart_list li.cart_list_product img {
  border-color: #672f0a;
  box-shadow: 0 0 0 1px #ac6e44;
  -webkit-box-shadow: 0 0 0 1px #ac6e44;
  -moz-box-shadow: 0 0 0 1px #ac6e44;
  -o-box-shadow: 0 0 0 1px #ac6e44;
}
#navigation .mini-cart li ul.cart_list li.total {
  background: #885636;
}
#navigation .mini-cart li ul.cart_list li.buttons {
  border-color: #7a421d;
  background: #9a623d;
  background: -webkit-gradient(linear, left top, left bottom, from(#9a623d), to(#885636));
  background: -webkit-linear-gradient(#9a623d, #885636);
  background: -moz-linear-gradient(center top, #9a623d 0%, #885636 100%);
  background: -moz-gradient(center top, #9a623d 0%, #885636 100%);
}
#navigation .mini-cart li ul.cart_list li.buttons a.button {
  box-shadow: 0 0 0 1px #ac6e44;
  -webkit-box-shadow: 0 0 0 1px #ac6e44;
  -moz-box-shadow: 0 0 0 1px #ac6e44;
  -o-box-shadow: 0 0 0 1px #ac6e44;
  background: #78401b !important;
  border-color: #672f0a;
}
#top #search-top .submit {
  background: none;
}
#top #search-top .submit:hover {
  background: none;
}
.nav-trigger {
  color: #9a623d;
}
#header .site-description {
  color: #d2d2d2;
}
.slider li .more {
  background: #9a623d;
  border-color: #78401b;
  background: #9a623d;
  background: -webkit-gradient(linear, left top, left bottom, from(#9a623d), to(#78401b));
  background: -webkit-linear-gradient(#9a623d, #78401b);
  background: -moz-linear-gradient(center top, #9a623d 0%, #78401b 100%);
  background: -moz-gradient(center top, #9a623d 0%, #78401b 100%);
  text-shadow: 0 -1px 0 #672f0a;
}
.slider li .more:hover {
  background: #ab734e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ab734e), to(#78401b));
  background: -webkit-linear-gradient(#ab734e, #78401b);
  background: -moz-linear-gradient(center top, #ab734e 0%, #78401b 100%);
  background: -moz-gradient(center top, #ab734e 0%, #78401b 100%);
}
ol.flex-control-nav li a {
  border: 3px solid #9a623d;
}
ol.flex-control-nav li a:hover,
ol.flex-control-nav li a.active {
  background: #9a623d;
}
#footer {
  background: #dadada;
  border-top-color: #b9b9b9;
}
#footer-widgets {
  border-top-color: #cacaca;
  background: #e4e4e4;
}
#footer-widgets .widget {
  color: #7a706f;
}
/* 2.7 Breadcrumbs */
.breadcrumb {
  color: #9c9291;
  box-shadow: 0 1px 2px 0 #e1e1e1;
  -webkit-box-shadow: 0 1px 2px 0 #e1e1e1;
  -moz-box-shadow: 0 1px 2px 0 #e1e1e1;
  -o-box-shadow: 0 1px 2px 0 #e1e1e1;
  border-color: #c5c5c5;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background: -webkit-linear-gradient(#ffffff, #ececec);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ececec 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ececec 100%);
  text-shadow: 0 1px 0 #fdfdfd;
}
.breadcrumb a {
  color: #8b8180;
}
.breadcrumb a:hover {
  color: #695f5e;
}
.homepage ul.products li.featured {
  box-shadow: 0 0 2px 0 #9a623d;
  -webkit-box-shadow: 0 0 2px 0 #9a623d;
  -moz-box-shadow: 0 0 2px 0 #9a623d;
  -o-box-shadow: 0 0 2px 0 #9a623d;
}
.homepage ul.products li.featured:hover {
  border-color: #89512c;
}
.go-shopping {
  border-color: solid #dadada;
}
.archive_header {
  border-color: #beb4b3;
}
article.type-post,
article.type-page {
  box-shadow: 0 1px 2px 0 #e1e1e1;
  -webkit-box-shadow: 0 1px 2px 0 #e1e1e1;
  -moz-box-shadow: 0 1px 2px 0 #e1e1e1;
  -o-box-shadow: 0 1px 2px 0 #e1e1e1;
  border-color: #c5c5c5;
}
article.type-post:before,
article.type-page:before {
  background: #eeeeee;
  border-color: #c5c5c5;
  box-shadow: inset 0 0 6px 0 #e1e1e1;
  -webkit-box-shadow: inset 0 0 6px 0 #e1e1e1;
  -moz-box-shadow: inset 0 0 6px 0 #e1e1e1;
  -o-box-shadow: inset 0 0 6px 0 #e1e1e1;
}
.meta {
  color: #ada3a2;
}
.meta ul li a {
  color: #ada3a2;
}
.meta ul li a:hover {
  color: #7a706f;
}
.meta ul li a:before,
.meta ul li a:after {
  background: #ada3a2;
}
.meta ul li.date:before,
.meta ul li.date:after {
  border-color: #ada3a2;
  background: transparent;
}
.meta ul li.date:after {
  background: transparent;
}
.meta ul li.category a:after {
  background: #ada3a2;
}
.meta ul li.comments a:after {
  border: 2px solid transparent;
  border-top-color: #ada3a2;
  border-left-color: #ada3a2;
}
.meta ul li.tags:before {
  background: #ada3a2;
}
.post img,
.post img.thumbnail {
  box-shadow: 0 1px 2px 0 #beb4b3;
  -webkit-box-shadow: 0 1px 2px 0 #beb4b3;
  -moz-box-shadow: 0 1px 2px 0 #beb4b3;
  -o-box-shadow: 0 1px 2px 0 #beb4b3;
}
.post img:hover,
.post img.thumbnail:hover {
  border-color: #9c9291;
}
.post .wp-caption {
  box-shadow: 0 1px 2px 0 #beb4b3;
  -webkit-box-shadow: 0 1px 2px 0 #beb4b3;
  -moz-box-shadow: 0 1px 2px 0 #beb4b3;
  -o-box-shadow: 0 1px 2px 0 #beb4b3;
}
.nav-entries a {
  color: #7a706f;
}
.woo-pagination .page-numbers {
  color: #584e4d;
  border: 1px solid #b9b9b9;
  background: #fdfdfd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#e6e6e6));
  background: -webkit-linear-gradient(#fdfdfd, #e6e6e6);
  background: -moz-linear-gradient(center top, #fdfdfd 0%, #e6e6e6 100%);
  background: -moz-gradient(center top, #fdfdfd 0%, #e6e6e6 100%);
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 #dbdbdb, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 2px 0 #dbdbdb, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px 0 #dbdbdb, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.woo-pagination .page-numbers.dots + .page-numbers,
.woo-pagination .page-numbers:first-child {
  border-color: #b9b9b9;
}
.woo-pagination .page-numbers:hover {
  background: #fdfdfd;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#ececec));
  background: -webkit-linear-gradient(#fdfdfd, #ececec);
  background: -moz-linear-gradient(center top, #fdfdfd 0%, #ececec 100%);
  background: -moz-gradient(center top, #fdfdfd 0%, #ececec 100%);
}
.woo-pagination .page-numbers.current {
  background: #b9b9b9;
  background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#cacaca));
  background: -webkit-linear-gradient(#b9b9b9, #cacaca);
  background: -moz-linear-gradient(center top, #b9b9b9 0%, #cacaca 100%);
  background: -moz-gradient(center top, #b9b9b9 0%, #cacaca 100%);
  border-color: #b9b9b9;
  text-shadow: 0 1px 0 #979797;
  -webkit-box-shadow: 0 0 1px #a8a8a8, 0 1px 0 0 #ffffff;
  -moz-box-shadow: 0 0 1px #a8a8a8, 0 1px 0 0 #ffffff;
  box-shadow: 0 0 1px #a8a8a8, 0 1px 0 0 #ffffff;
}
#post-author .profile-content {
  color: #9c9291;
}
table {
  box-shadow: 0 1px 2px 0 #e1e1e1;
  -webkit-box-shadow: 0 1px 2px 0 #e1e1e1;
  -moz-box-shadow: 0 1px 2px 0 #e1e1e1;
  -o-box-shadow: 0 1px 2px 0 #e1e1e1;
  border-color: #c5c5c5;
}
table th {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e6e6e6));
  background: -webkit-linear-gradient(#ffffff, #e6e6e6);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e6e6e6 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e6e6e6 100%);
  border-color: #c5c5c5;
  color: #473d3c;
}
table td {
  border: 1px solid #c5c5c5;
  background: #ececec;
}
#connect {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #dbdbdb;
  -webkit-box-shadow: 0 1px 2px 0 #dbdbdb;
  -moz-box-shadow: 0 1px 2px 0 #dbdbdb;
  -o-box-shadow: 0 1px 2px 0 #dbdbdb;
}
#post-entries {
  box-shadow: 0 1px 2px 0 #dfdfdf;
  -webkit-box-shadow: 0 1px 2px 0 #dfdfdf;
  -moz-box-shadow: 0 1px 2px 0 #dfdfdf;
  -o-box-shadow: 0 1px 2px 0 #dfdfdf;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background: -webkit-linear-gradient(#ffffff, #ececec);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ececec 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ececec 100%);
  border-color: #c5c5c5;
}
#post-entries a {
  color: #362c2b;
  text-shadow: 0 1px 0 #fdfdfd;
}
#post-entries a:hover {
  background: #f1e7e6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e7e6), to(#e0d6d5));
  background: -webkit-linear-gradient(#f1e7e6, #e0d6d5);
  background: -moz-linear-gradient(center top, #f1e7e6 0%, #e0d6d5 100%);
  background: -moz-gradient(center top, #f1e7e6 0%, #e0d6d5 100%);
}
#post-entries .nav-prev a {
  border-color: #beb4b3;
}
#post-entries .nav-next a {
  border-color: #beb4b3;
}
.widget {
  background: #e6e6e6;
  box-shadow: inset 0 0 3px 0 #acacac;
  -webkit-box-shadow: inset 0 0 3px 0 #acacac;
  -moz-box-shadow: inset 0 0 3px 0 #acacac;
  -o-box-shadow: inset 0 0 3px 0 #acacac;
  border: 1px solid #f8f8f8;
}
.widget .widget-inside {
  color: #9c9291;
  background: #ffffff;
  box-shadow: 0 0 3px 0 #acacac;
  -webkit-box-shadow: 0 0 3px 0 #acacac;
  -moz-box-shadow: 0 0 3px 0 #acacac;
  -o-box-shadow: 0 0 3px 0 #acacac;
}
.widget .widget-inside:first-child h3 {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background: -webkit-linear-gradient(#ffffff, #ececec);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ececec 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ececec 100%);
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 1px 2px 0 #e9e9e9;
  -webkit-box-shadow: 0 1px 2px 0 #e9e9e9;
  -moz-box-shadow: 0 1px 2px 0 #e9e9e9;
  -o-box-shadow: 0 1px 2px 0 #e9e9e9;
}
.widget .widget-inside a {
  color: #7a706f;
}
.widget .widget-inside a:hover {
  color: #584e4d;
}
#footer-widgets .widget {
  background: #dadada;
  box-shadow: inset 0 0 3px 0 #929292;
  -webkit-box-shadow: inset 0 0 3px 0 #929292;
  -moz-box-shadow: inset 0 0 3px 0 #929292;
  -o-box-shadow: inset 0 0 3px 0 #929292;
  border-color: #f1f1f1;
}
.widget_woo_blogauthorinfo .avatar {
  border-color: #beb4b3;
}
.widget_woo_twitter ul li {
  background: #ececec;
  border-color: #ececec;
}
.widget_woo_twitter ul li:after {
  border: 0.5em solid #ececec;
  border-color: #ececec transparent transparent transparent;
}
/* WOOTABS */
#tabs ul.wooTabs li a {
  border-color: #dadada;
}
.widget ul.product_list_widget li img,
.widget ul.cart_list li img {
  box-shadow: 0 1px 2px 0 #beb4b3;
  -webkit-box-shadow: 0 1px 2px 0 #beb4b3;
  -moz-box-shadow: 0 1px 2px 0 #beb4b3;
  -o-box-shadow: 0 1px 2px 0 #beb4b3;
}
.widget_layered_nav li .count {
  background: #ececec;
  text-shadow: 0 1px 0 #fdfdfd;
  border-color: #cbcbcb;
}
.widget_price_filter .price_slider_amount {
  color: #9c9291;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #7a706f;
  box-shadow: 0 0 2px 0 #ada3a2;
  -webkit-box-shadow: 0 0 2px 0 #ada3a2;
  -moz-box-shadow: 0 0 2px 0 #ada3a2;
  -o-box-shadow: 0 0 2px 0 #ada3a2;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover {
  box-shadow: 0 0 4px 0 #9a623d;
  -webkit-box-shadow: 0 0 4px 0 #9a623d;
  -moz-box-shadow: 0 0 4px 0 #9a623d;
  -o-box-shadow: 0 0 4px 0 #9a623d;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #9a623d;
  box-shadow: inset 0 0 2px 0 #450d00;
  -webkit-box-shadow: inset 0 0 2px 0 #450d00;
  -moz-box-shadow: inset 0 0 2px 0 #450d00;
  -o-box-shadow: inset 0 0 2px 0 #450d00;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #7a706f;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a706f), to(#9c9291));
  background: -webkit-linear-gradient(#7a706f, #9c9291);
  background: -moz-linear-gradient(center top, #7a706f 0%, #9c9291 100%);
  background: -moz-gradient(center top, #7a706f 0%, #9c9291 100%);
  -webkit-box-shadow: inset 0 1px 2px #473d3c, 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #473d3c, 0 0 0 1px #ffffff;
  box-shadow: inset 0 1px 2px #473d3c, 0 0 0 1px #ffffff;
}
/* Search (#searchform = wc, .searchform = wf) */
#sidebar #searchform,
#footer-widgets #searchform,
#sidebar .searchform,
#footer-widgets .searchform {
  color: #7a706f;
  border-color: #cfc5c4;
}
#comments .comment .comment-entry,
#comments .comment .comment-text {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #dbdbdb;
  -webkit-box-shadow: 0 1px 2px 0 #dbdbdb;
  -moz-box-shadow: 0 1px 2px 0 #dbdbdb;
  -o-box-shadow: 0 1px 2px 0 #dbdbdb;
  color: #8b8180;
}
#comments .comment .comment-entry:before,
#comments .comment .comment-text:before {
  border: 0.5em solid #ffffff;
  border-color: transparent;
  border-right-color: #ffffff;
}
#comments .comment .comment-head,
#comments .comment p.meta {
  color: #ada3a2;
}
#comments .comment .comment-head .name,
#comments .comment p.meta .name {
  color: #584e4d;
}
#comments .comment .comment-head .perma a,
#comments .comment p.meta .perma a {
  border-color: #e0d6d5;
  color: #7a706f;
  background: #ffffff;
}
#comments .comment .comment-head .perma a:hover,
#comments .comment p.meta .perma a:hover {
  border-color: #cfc5c4;
}
#respond {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #dbdbdb;
  -webkit-box-shadow: 0 1px 2px 0 #dbdbdb;
  -moz-box-shadow: 0 1px 2px 0 #dbdbdb;
  -o-box-shadow: 0 1px 2px 0 #dbdbdb;
}
#respond #reply-title small a:hover {
  background-color: #9a623d;
}
#archives .archives_list {
  border-color: #beb4b3;
}
#archives .archives_list li {
  border-color: #beb4b3;
}
#archives .archives_list .date {
  color: #9c9291;
}
#archives .archives_list .comments a {
  color: #7a706f;
}
mark.featured {
  background: #9a623d;
}
ul.products li.product {
  box-shadow: 0 0 4px 0 #b9b9b9;
  -webkit-box-shadow: 0 0 4px 0 #b9b9b9;
  -moz-box-shadow: 0 0 4px 0 #b9b9b9;
  -o-box-shadow: 0 0 4px 0 #b9b9b9;
}
ul.products li.product h3 {
  color: #9a623d;
}
ul.products li.product .price {
  color: #473d3c;
}
ul.products li.product .excerpt p {
  color: #7a706f;
}
.woocommerce .type-product .images a:hover img {
  background: #ffffff;
}
.woocommerce .type-product .images img {
  background: #f8f8f8;
  border-color: #fdfdfd;
  box-shadow: 0 1px 2px 0 #dadada;
  -webkit-box-shadow: 0 1px 2px 0 #dadada;
  -moz-box-shadow: 0 1px 2px 0 #dadada;
  -o-box-shadow: 0 1px 2px 0 #dadada;
}
.woocommerce .type-product .summary .product_meta {
  color: #9c9291;
}
.woocommerce .type-product .summary .product_meta a {
  color: #7a706f;
}
.woocommerce .type-product h2 {
  color: #251b1a;
}
.woocommerce .woocommerce_tabs ul.tabs li a,
.woocommerce .woocommerce-tabs ul.tabs li a {
  border-color: #dadada;
}
.woocommerce .woocommerce_tabs ul.tabs li a:hover,
.woocommerce .woocommerce-tabs ul.tabs li a:hover {
  background: #fbfbfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f3f3f3));
  background: -webkit-linear-gradient(#fbfbfb, #f3f3f3);
  background: -moz-linear-gradient(center top, #fbfbfb 0%, #f3f3f3 100%);
  background: -moz-gradient(center top, #fbfbfb 0%, #f3f3f3 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #78401b;
}
.woocommerce .woocommerce_tabs ul.tabs li.active a,
.woocommerce .woocommerce-tabs ul.tabs li.active a {
  background: #fbfbfb;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#f3f3f3));
  background: -webkit-linear-gradient(#fbfbfb, #f3f3f3);
  background: -moz-linear-gradient(center top, #fbfbfb 0%, #f3f3f3 100%);
  background: -moz-gradient(center top, #fbfbfb 0%, #f3f3f3 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #78401b;
}
.woocommerce .woocommerce_tabs .panel,
.woocommerce .woocommerce-tabs .panel {
  border-color: #dadada;
  background: #f3f3f3;
}
.quantity input.qty {
  border-color: #9c9291;
  box-shadow: inset 0 0 2px 0 #beb4b3;
  -webkit-box-shadow: inset 0 0 2px 0 #beb4b3;
  -moz-box-shadow: inset 0 0 2px 0 #beb4b3;
  -o-box-shadow: inset 0 0 2px 0 #beb4b3;
}
.quantity .plus,
.quantity .minus {
  border-color: #672f0a;
  background: #9a623d;
  background: -webkit-gradient(linear, left top, left bottom, from(#9a623d), to(#89512c));
  background: -webkit-linear-gradient(#9a623d, #89512c);
  background: -moz-linear-gradient(center top, #9a623d 0%, #89512c 100%);
  background: -moz-gradient(center top, #9a623d 0%, #89512c 100%);
  text-shadow: 0 1px 0 #672f0a;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #ab734e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ab734e), to(#89512c));
  background: -webkit-linear-gradient(#ab734e, #89512c);
  background: -moz-linear-gradient(center top, #ab734e 0%, #89512c 100%);
  background: -moz-gradient(center top, #ab734e 0%, #89512c 100%);
}
#customer_details {
  background: #f8f8f8;
  box-shadow: 0 1px 2px 0 #e1e1e1;
  -webkit-box-shadow: 0 1px 2px 0 #e1e1e1;
  -moz-box-shadow: 0 1px 2px 0 #e1e1e1;
  -o-box-shadow: 0 1px 2px 0 #e1e1e1;
  border: 1px solid #c5c5c5;
}
ul.payment_methods {
  background: #f8f8f8;
  box-shadow: 0 1px 2px 0 #e1e1e1;
  -webkit-box-shadow: 0 1px 2px 0 #e1e1e1;
  -moz-box-shadow: 0 1px 2px 0 #e1e1e1;
  -o-box-shadow: 0 1px 2px 0 #e1e1e1;
  border: 1px solid #c5c5c5;
}
ul.payment_methods .payment_box {
  background: #ececec;
}
ul.digital-downloads li {
  border-color: #beb4b3;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  border-color: #362c2b;
  background: #9a623d;
  background: -webkit-gradient(linear, left top, left bottom, from(#9a623d), to(#78401b));
  background: -webkit-linear-gradient(#9a623d, #78401b);
  background: -moz-linear-gradient(center top, #9a623d 0%, #78401b 100%);
  background: -moz-gradient(center top, #9a623d 0%, #78401b 100%);
  color: #ffddc6 !important;
  text-shadow: 0 -1px 0 #561e00;
  -webkit-box-shadow: inset 0 1px 0 #bc845f, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #bc845f, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #bc845f, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
a.button:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #ab734e;
  background: -webkit-gradient(linear, left top, left bottom, from(#ab734e), to(#78401b));
  background: -webkit-linear-gradient(#ab734e, #78401b);
  background: -moz-linear-gradient(center top, #ab734e 0%, #78401b 100%);
  background: -moz-gradient(center top, #ab734e 0%, #78401b 100%);
}
.button.alt {
  background: #3d759a;
  background: -webkit-gradient(linear, left top, left bottom, from(#3d759a), to(#1b5378));
  background: -webkit-linear-gradient(#3d759a, #1b5378);
  background: -moz-linear-gradient(center top, #3d759a 0%, #1b5378 100%);
  background: -moz-gradient(center top, #3d759a 0%, #1b5378 100%);
  text-shadow: 0 -1px 0 #003156;
  border-color: #2b3536;
  -webkit-box-shadow: inset 0 1px 0 #5f97bc, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #5f97bc, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #5f97bc, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
.button.alt:hover {
  background: #4e86ab;
  background: -webkit-gradient(linear, left top, left bottom, from(#4e86ab), to(#1b5378));
  background: -webkit-linear-gradient(#4e86ab, #1b5378);
  background: -moz-linear-gradient(center top, #4e86ab 0%, #1b5378 100%);
  background: -moz-gradient(center top, #4e86ab 0%, #1b5378 100%);
}
/* 11.5 Messages / info boxes */
.woocommerce_message,
.info,
.woocommerce_error {
  border-color: #9a623d;
}
.woocommerce_message:before,
.info:before,
.woocommerce_error:before {
  background-color: #9a623d;
}
.ie6 .button,
.ie6 .button:visited {
  color: #7a706f !important;
}
.ie6 .reply a {
  color: #7a706f !important;
}
.ie8 #top {
  background: #f8f8f8;
  border-color: #dfdfdf;
}
.ie8 #top #search-top .submit:hover {
  background: #fdfdfd;
}
.ie8 #top .nav a {
  color: #ada3a2;
}
.ie8 #top .nav a:hover {
  color: #8b8180;
}
.ie8 #top .nav li.current_page_item a,
.ie8 #top .nav li.current_page_parent a,
.ie8 #top .nav li.current-menu-ancestor a,
.ie8 #top .nav li.current-cat a,
.ie8 #top .nav li.li.current-menu-item a,
.ie8 #top .nav li.sfHover a {
  color: #8b8180;
}
.ie8 #top .nav li ul {
  background: #f8f8f8;
  border-color: #dfdfdf;
}
.ie8 #top .nav li ul li a:hover {
  color: #584e4d;
}
.ie8 #navigation {
  background: none;
  filter: none;
  border: none;
}
.ie8 #navigation .nav li:hover a:after,
.ie8 #navigation .nav li:hover a:before {
  border-color: #e6e6e6;
}
.ie8 #navigation .nav li:hover a:before {
  border-color: transparent #e6e6e6 #e6e6e6 transparent;
}
.ie8 #navigation .nav li:hover a:after {
  border-color: transparent transparent #e6e6e6 #e6e6e6;
}
.ie8 #navigation .nav li a {
  color: #695f5e;
  text-shadow: 0 1px 0 #fdfdfd;
}
.ie8 #navigation .nav li a:hover {
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#e6e6e6));
  background: -webkit-linear-gradient(#dadada, #e6e6e6);
  background: -moz-linear-gradient(center top, #dadada 0%, #e6e6e6 100%);
  background: -moz-gradient(center top, #dadada 0%, #e6e6e6 100%);
}
.ie8 #navigation .nav li a:hover:after,
.ie8 #navigation .nav li a:hover:before {
  border-color: #e6e6e6;
}
.ie8 #navigation .nav li a:hover:before {
  border-color: transparent #e6e6e6 #e6e6e6 transparent;
}
.ie8 #navigation .nav li a:hover:after {
  border-color: transparent transparent #e6e6e6 #e6e6e6;
}
.ie8 #navigation .nav li.current_page_item a,
.ie8 #navigation .nav li.current-menu-item a {
  background: #dadada;
  background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#e6e6e6));
  background: -webkit-linear-gradient(#dadada, #e6e6e6);
  background: -moz-linear-gradient(center top, #dadada 0%, #e6e6e6 100%);
  background: -moz-gradient(center top, #dadada 0%, #e6e6e6 100%);
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after,
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: #f1f1f1;
}
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: transparent #e6e6e6 #e6e6e6 transparent;
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after {
  border-color: transparent transparent #e6e6e6 #e6e6e6;
}
.ie8 #navigation .nav li ul {
  background: #9a623d;
}
.ie8 #navigation .nav li ul li a {
  color: #e9b898;
  text-shadow: 0 -1px 0 #78401b;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover {
  background: #9a623d;
  color: #e9b898;
  text-shadow: 0 -1px 0 #89512c;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
  border-color: transparent transparent #9a623d #9a623d;
}
.ie8 #navigation .nav li:hover a.sf-with-ul {
  background: #9a623d;
  color: #e9b898;
  text-shadow: 0 -1px 0 #78401b;
  filter: none;
}
.ie8 #navigation .nav li:hover a.sf-with-ul:after {
  border-color: transparent transparent #9a623d #9a623d;
}
.ie8 #navigation .mini-cart li ul.cart_list {
  border-color: #7a421d;
}
.ie8 #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
.ie8 #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
  border-color: transparent #9a623d #9a623d transparent;
}
.ie8 #navigation .mini-cart li:hover a.sf-with-ul:before {
  border-color: transparent #9a623d #9a623d transparent;
}
.ie8 #content.homepage ul.products li.featured:hover {
  box-shadow: 0 0 1em 0 #ab734e;
  -webkit-box-shadow: 0 0 1em 0 #ab734e;
  -moz-box-shadow: 0 0 1em 0 #ab734e;
  -o-box-shadow: 0 0 1em 0 #ab734e;
}
.ie8 #sidebar {
  text-shadow: 0 1px 0 #f8f8f8;
}
.ie8 ul.products li.product:hover {
  border-color: #868686;
}
.ie8 .header-wrap {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
  background: -webkit-linear-gradient(#ffffff, #f3f3f3);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f3f3f3 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f3f3f3 100%);
  box-shadow: 0 0 2.992em 0 #dbdbdb;
  -webkit-box-shadow: 0 0 2.992em 0 #dbdbdb;
  -moz-box-shadow: 0 0 2.992em 0 #dbdbdb;
  -o-box-shadow: 0 0 2.992em 0 #dbdbdb;
}
@media only screen and (min-width: 768px) {
  #top {
    background: #f8f8f8;
    border-color: #dfdfdf;
  }
  #top #search-top .submit:hover {
    background: #fdfdfd;
  }
  #top .nav a {
    color: #ada3a2;
  }
  #top .nav a:hover {
    color: #8b8180;
  }
  #top .nav li.current_page_item a,
  #top .nav li.current_page_parent a,
  #top .nav li.current-menu-ancestor a,
  #top .nav li.current-cat a,
  #top .nav li.li.current-menu-item a,
  #top .nav li.sfHover a {
    color: #8b8180;
  }
  #top .nav li ul {
    background: #f8f8f8;
    border-color: #dfdfdf;
  }
  #top .nav li ul li a:hover {
    color: #584e4d;
  }
  #navigation {
    background: none;
    filter: none;
    border: none;
  }
  #navigation .nav li:hover a:after,
  #navigation .nav li:hover a:before {
    border-color: #e6e6e6;
  }
  #navigation .nav li:hover a:before {
    border-color: transparent #e6e6e6 #e6e6e6 transparent;
  }
  #navigation .nav li:hover a:after {
    border-color: transparent transparent #e6e6e6 #e6e6e6;
  }
  #navigation .nav li a {
    color: #695f5e;
    text-shadow: 0 1px 0 #fdfdfd;
  }
  #navigation .nav li a:hover {
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#e6e6e6));
    background: -webkit-linear-gradient(#dadada, #e6e6e6);
    background: -moz-linear-gradient(center top, #dadada 0%, #e6e6e6 100%);
    background: -moz-gradient(center top, #dadada 0%, #e6e6e6 100%);
  }
  #navigation .nav li a:hover:after,
  #navigation .nav li a:hover:before {
    border-color: #e6e6e6;
  }
  #navigation .nav li a:hover:before {
    border-color: transparent #e6e6e6 #e6e6e6 transparent;
  }
  #navigation .nav li a:hover:after {
    border-color: transparent transparent #e6e6e6 #e6e6e6;
  }
  #navigation .nav li.current_page_item a,
  #navigation .nav li.current-menu-item a {
    background: #dadada;
    background: -webkit-gradient(linear, left top, left bottom, from(#dadada), to(#e6e6e6));
    background: -webkit-linear-gradient(#dadada, #e6e6e6);
    background: -moz-linear-gradient(center top, #dadada 0%, #e6e6e6 100%);
    background: -moz-gradient(center top, #dadada 0%, #e6e6e6 100%);
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after,
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: #f1f1f1;
  }
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: transparent #e6e6e6 #e6e6e6 transparent;
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after {
    border-color: transparent transparent #e6e6e6 #e6e6e6;
  }
  #navigation .nav li ul {
    background: #9a623d;
  }
  #navigation .nav li ul li a {
    color: #e9b898;
    text-shadow: 0 -1px 0 #78401b;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover {
    background: #9a623d;
    color: #e9b898;
    text-shadow: 0 -1px 0 #89512c;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
    border-color: transparent transparent #9a623d #9a623d;
  }
  #navigation .nav li:hover a.sf-with-ul {
    background: #9a623d;
    color: #e9b898;
    text-shadow: 0 -1px 0 #78401b;
    filter: none;
  }
  #navigation .nav li:hover a.sf-with-ul:after {
    border-color: transparent transparent #9a623d #9a623d;
  }
  #navigation .mini-cart li ul.cart_list {
    border-color: #7a421d;
  }
  #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
  #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
    border-color: transparent #9a623d #9a623d transparent;
  }
  #navigation .mini-cart li:hover a.sf-with-ul:before {
    border-color: transparent #9a623d #9a623d transparent;
  }
  #content.homepage ul.products li.featured:hover {
    box-shadow: 0 0 1em 0 #ab734e;
    -webkit-box-shadow: 0 0 1em 0 #ab734e;
    -moz-box-shadow: 0 0 1em 0 #ab734e;
    -o-box-shadow: 0 0 1em 0 #ab734e;
  }
  #sidebar {
    text-shadow: 0 1px 0 #f8f8f8;
  }
  ul.products li.product:hover {
    border-color: #868686;
  }
  .header-wrap {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
    background: -webkit-linear-gradient(#ffffff, #f3f3f3);
    background: -moz-linear-gradient(center top, #ffffff 0%, #f3f3f3 100%);
    background: -moz-gradient(center top, #ffffff 0%, #f3f3f3 100%);
    box-shadow: 0 0 2.992em 0 #dbdbdb;
    -webkit-box-shadow: 0 0 2.992em 0 #dbdbdb;
    -moz-box-shadow: 0 0 2.992em 0 #dbdbdb;
    -o-box-shadow: 0 0 2.992em 0 #dbdbdb;
  }
}
