/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/*-- [ Colour variable resets ] ----------------------------------------------------------------------------------------------*/
html {
  background: #ecedea;
}
body {
  color: #515b45;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a240e;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #adc760;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #8ba53e;
}
label {
  color: #515b45;
}
.input-text,
input[type=text],
textarea {
  border-color: #a6b09a;
}
.input-text:focus,
input[type=text]:focus,
textarea:focus {
  border-color: #848e78;
  box-shadow: 0 1px 2px 0 #d8dbd3;
  -webkit-box-shadow: 0 1px 2px 0 #d8dbd3;
  -moz-box-shadow: 0 1px 2px 0 #d8dbd3;
  -o-box-shadow: 0 1px 2px 0 #d8dbd3;
}
mark {
  color: #515b45;
}
a {
  color: #adc760;
}
a:hover {
  color: #8ba53e;
}
#navigation {
  background: #adc760;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc760), to(#a3c04d));
  background: -webkit-linear-gradient(#adc760, #a3c04d);
  background: -moz-linear-gradient(center top, #adc760 0%, #a3c04d 100%);
  background: -moz-gradient(center top, #adc760 0%, #a3c04d 100%);
  border: 1px solid #8ba53e;
}
#navigation a {
  color: #f4ffd2;
  text-shadow: 0 -1px 0 #8ba53e;
}
#navigation .mini-cart li mark.count {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: #ca5661;
  background: -webkit-gradient(linear, left top, left bottom, from(#ca5661), to(#bc424e));
  background: -webkit-linear-gradient(#ca5661, #bc424e);
  background: -moz-linear-gradient(center top, #ca5661 0%, #bc424e 100%);
  background: -moz-gradient(center top, #ca5661 0%, #bc424e 100%);
  text-shadow: 0 1px 0 #a8343f;
}
#navigation .mini-cart li ul.cart_list {
  color: #657b24;
  text-shadow: 0 1px 0 #bed871;
}
#navigation .mini-cart li ul.cart_list li.cart_list_product {
  border-color: #8da740;
  background: #adc760;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc760), to(#a3c04d));
  background: -webkit-linear-gradient(#adc760, #a3c04d);
  background: -moz-linear-gradient(center top, #adc760 0%, #a3c04d 100%);
  background: -moz-gradient(center top, #adc760 0%, #a3c04d 100%);
}
#navigation .mini-cart li ul.cart_list li.cart_list_product img {
  border-color: #7a942d;
  box-shadow: 0 0 0 1px #b7ce73;
  -webkit-box-shadow: 0 0 0 1px #b7ce73;
  -moz-box-shadow: 0 0 0 1px #b7ce73;
  -o-box-shadow: 0 0 0 1px #b7ce73;
}
#navigation .mini-cart li ul.cart_list li.total {
  background: #a3c04d;
}
#navigation .mini-cart li ul.cart_list li.buttons {
  border-color: #8da740;
  background: #adc760;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc760), to(#a3c04d));
  background: -webkit-linear-gradient(#adc760, #a3c04d);
  background: -moz-linear-gradient(center top, #adc760 0%, #a3c04d 100%);
  background: -moz-gradient(center top, #adc760 0%, #a3c04d 100%);
}
#navigation .mini-cart li ul.cart_list li.buttons a.button {
  box-shadow: 0 0 0 1px #b7ce73;
  -webkit-box-shadow: 0 0 0 1px #b7ce73;
  -moz-box-shadow: 0 0 0 1px #b7ce73;
  -o-box-shadow: 0 0 0 1px #b7ce73;
  background: #8ba53e !important;
  border-color: #7a942d;
}
#top #search-top .submit {
  background: none;
}
#top #search-top .submit:hover {
  background: none;
}
.nav-trigger {
  color: #adc760;
}
#header .site-description {
  color: #d0d4cb;
}
.slider li .more {
  background: #adc760;
  border-color: #8ba53e;
  background: #adc760;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc760), to(#8ba53e));
  background: -webkit-linear-gradient(#adc760, #8ba53e);
  background: -moz-linear-gradient(center top, #adc760 0%, #8ba53e 100%);
  background: -moz-gradient(center top, #adc760 0%, #8ba53e 100%);
  text-shadow: 0 -1px 0 #7a942d;
}
.slider li .more:hover {
  background: #bed871;
  background: -webkit-gradient(linear, left top, left bottom, from(#bed871), to(#8ba53e));
  background: -webkit-linear-gradient(#bed871, #8ba53e);
  background: -moz-linear-gradient(center top, #bed871 0%, #8ba53e 100%);
  background: -moz-gradient(center top, #bed871 0%, #8ba53e 100%);
}
ol.flex-control-nav li a {
  border: 3px solid #adc760;
}
ol.flex-control-nav li a:hover,
ol.flex-control-nav li a.active {
  background: #adc760;
}
#footer {
  background: #d8dbd3;
  border-top-color: #b7bdaf;
}
#footer-widgets {
  border-top-color: #c7c9c5;
  background: #e2e4de;
}
#footer-widgets .widget {
  color: #737d67;
}
/* 2.7 Breadcrumbs */
.breadcrumb {
  color: #959f89;
  box-shadow: 0 1px 2px 0 #dfe2dc;
  -webkit-box-shadow: 0 1px 2px 0 #dfe2dc;
  -moz-box-shadow: 0 1px 2px 0 #dfe2dc;
  -o-box-shadow: 0 1px 2px 0 #dfe2dc;
  border-color: #c3c9bd;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9ebe7));
  background: -webkit-linear-gradient(#ffffff, #e9ebe7);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e9ebe7 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e9ebe7 100%);
  text-shadow: 0 1px 0 #fafcf8;
}
.breadcrumb a {
  color: #848e78;
}
.breadcrumb a:hover {
  color: #626c56;
}
.homepage ul.products li.featured {
  box-shadow: 0 0 2px 0 #adc760;
  -webkit-box-shadow: 0 0 2px 0 #adc760;
  -moz-box-shadow: 0 0 2px 0 #adc760;
  -o-box-shadow: 0 0 2px 0 #adc760;
}
.homepage ul.products li.featured:hover {
  border-color: #9cb64f;
}
.go-shopping {
  border-color: #d8dbd3;
}
.archive_header {
  border-color: #b7c1ab;
}
article.type-post,
article.type-page {
  box-shadow: 0 1px 2px 0 #dfe2dc;
  -webkit-box-shadow: 0 1px 2px 0 #dfe2dc;
  -moz-box-shadow: 0 1px 2px 0 #dfe2dc;
  -o-box-shadow: 0 1px 2px 0 #dfe2dc;
  border-color: #c3c9bd;
}
article.type-post:before,
article.type-page:before {
  background: #ecedea;
  border-color: #c3c9bd;
  box-shadow: inset 0 0 6px 0 #dfe2dc;
  -webkit-box-shadow: inset 0 0 6px 0 #dfe2dc;
  -moz-box-shadow: inset 0 0 6px 0 #dfe2dc;
  -o-box-shadow: inset 0 0 6px 0 #dfe2dc;
}
.meta {
  color: #a6b09a;
}
.meta ul li a {
  color: #a6b09a;
}
.meta ul li a:hover {
  color: #737d67;
}
.meta ul li a:before,
.meta ul li a:after {
  background: #a6b09a;
}
.meta ul li.date:before,
.meta ul li.date:after {
  border-color: #a6b09a;
  background: transparent;
}
.meta ul li.date:after {
  background: transparent;
}
.meta ul li.category a:after {
  background: #a6b09a;
}
.meta ul li.comments a:after {
  border: 2px solid transparent;
  border-top-color: #a6b09a;
  border-left-color: #a6b09a;
}
.meta ul li.tags:before {
  background: #a6b09a;
}
.post img,
.post img.thumbnail {
  box-shadow: 0 1px 2px 0 #b7c1ab;
  -webkit-box-shadow: 0 1px 2px 0 #b7c1ab;
  -moz-box-shadow: 0 1px 2px 0 #b7c1ab;
  -o-box-shadow: 0 1px 2px 0 #b7c1ab;
}
.post img:hover,
.post img.thumbnail:hover {
  border-color: #959f89;
}
.post .wp-caption {
  box-shadow: 0 1px 2px 0 #b7c1ab;
  -webkit-box-shadow: 0 1px 2px 0 #b7c1ab;
  -moz-box-shadow: 0 1px 2px 0 #b7c1ab;
  -o-box-shadow: 0 1px 2px 0 #b7c1ab;
}
.nav-entries a {
  color: #737d67;
}
.woo-pagination .page-numbers {
  color: #515b45;
  border: 1px solid #b6b8b4;
  background: #fafcf8;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafcf8), to(#e4e7e1));
  background: -webkit-linear-gradient(#fafcf8, #e4e7e1);
  background: -moz-linear-gradient(center top, #fafcf8 0%, #e4e7e1 100%);
  background: -moz-gradient(center top, #fafcf8 0%, #e4e7e1 100%);
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 #d8dad6, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 2px 0 #d8dad6, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px 0 #d8dad6, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.woo-pagination .page-numbers.dots + .page-numbers,
.woo-pagination .page-numbers:first-child {
  border-color: #b6b8b4;
}
.woo-pagination .page-numbers:hover {
  background: #fafcf8;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafcf8), to(#e9ebe7));
  background: -webkit-linear-gradient(#fafcf8, #e9ebe7);
  background: -moz-linear-gradient(center top, #fafcf8 0%, #e9ebe7 100%);
  background: -moz-gradient(center top, #fafcf8 0%, #e9ebe7 100%);
}
.woo-pagination .page-numbers.current {
  background: #b6b8b4;
  background: -webkit-gradient(linear, left top, left bottom, from(#b6b8b4), to(#c7c9c5));
  background: -webkit-linear-gradient(#b6b8b4, #c7c9c5);
  background: -moz-linear-gradient(center top, #b6b8b4 0%, #c7c9c5 100%);
  background: -moz-gradient(center top, #b6b8b4 0%, #c7c9c5 100%);
  border-color: #b6b8b4;
  text-shadow: 0 1px 0 #949692;
  -webkit-box-shadow: 0 0 1px #a5a7a3, 0 1px 0 0 #ffffff;
  -moz-box-shadow: 0 0 1px #a5a7a3, 0 1px 0 0 #ffffff;
  box-shadow: 0 0 1px #a5a7a3, 0 1px 0 0 #ffffff;
}
#post-author .profile-content {
  color: #959f89;
}
table {
  box-shadow: 0 1px 2px 0 #dfe2dc;
  -webkit-box-shadow: 0 1px 2px 0 #dfe2dc;
  -moz-box-shadow: 0 1px 2px 0 #dfe2dc;
  -o-box-shadow: 0 1px 2px 0 #dfe2dc;
  border-color: #c3c9bd;
}
table th {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e4e7e1));
  background: -webkit-linear-gradient(#ffffff, #e4e7e1);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e4e7e1 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e4e7e1 100%);
  border-color: #c3c9bd;
  color: #404a34;
}
table td {
  border: 1px solid #c3c9bd;
  background: #e9ebe7;
}
#connect {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #d8dad6;
  -webkit-box-shadow: 0 1px 2px 0 #d8dad6;
  -moz-box-shadow: 0 1px 2px 0 #d8dad6;
  -o-box-shadow: 0 1px 2px 0 #d8dad6;
}
#post-entries {
  box-shadow: 0 1px 2px 0 #dde0d9;
  -webkit-box-shadow: 0 1px 2px 0 #dde0d9;
  -moz-box-shadow: 0 1px 2px 0 #dde0d9;
  -o-box-shadow: 0 1px 2px 0 #dde0d9;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9ebe7));
  background: -webkit-linear-gradient(#ffffff, #e9ebe7);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e9ebe7 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e9ebe7 100%);
  border-color: #c3c9bd;
}
#post-entries a {
  color: #2f3923;
  text-shadow: 0 1px 0 #fafcf8;
}
#post-entries a:hover {
  background: #eaf4de;
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf4de), to(#d9e3cd));
  background: -webkit-linear-gradient(#eaf4de, #d9e3cd);
  background: -moz-linear-gradient(center top, #eaf4de 0%, #d9e3cd 100%);
  background: -moz-gradient(center top, #eaf4de 0%, #d9e3cd 100%);
}
#post-entries .nav-prev a {
  border-color: #b7c1ab;
}
#post-entries .nav-next a {
  border-color: #b7c1ab;
}
.widget {
  background: #e4e7e1;
  box-shadow: inset 0 0 3px 0 #aab2a1;
  -webkit-box-shadow: inset 0 0 3px 0 #aab2a1;
  -moz-box-shadow: inset 0 0 3px 0 #aab2a1;
  -o-box-shadow: inset 0 0 3px 0 #aab2a1;
  border: 1px solid #f6f7f5;
}
.widget .widget-inside {
  color: #959f89;
  background: #ffffff;
  box-shadow: 0 0 3px 0 #aab2a1;
  -webkit-box-shadow: 0 0 3px 0 #aab2a1;
  -moz-box-shadow: 0 0 3px 0 #aab2a1;
  -o-box-shadow: 0 0 3px 0 #aab2a1;
}
.widget .widget-inside:first-child h3 {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9ebe7));
  background: -webkit-linear-gradient(#ffffff, #e9ebe7);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e9ebe7 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e9ebe7 100%);
  border-bottom: 1px solid #d0d4cb;
  box-shadow: 0 1px 2px 0 #e7e9e4;
  -webkit-box-shadow: 0 1px 2px 0 #e7e9e4;
  -moz-box-shadow: 0 1px 2px 0 #e7e9e4;
  -o-box-shadow: 0 1px 2px 0 #e7e9e4;
}
.widget .widget-inside a {
  color: #737d67;
}
.widget .widget-inside a:hover {
  color: #515b45;
}
#footer-widgets .widget {
  background: #d8dbd3;
  box-shadow: inset 0 0 3px 0 #919b85;
  -webkit-box-shadow: inset 0 0 3px 0 #919b85;
  -moz-box-shadow: inset 0 0 3px 0 #919b85;
  -o-box-shadow: inset 0 0 3px 0 #919b85;
  border-color: #eef0ec;
}
.widget_woo_blogauthorinfo .avatar {
  border-color: #b7c1ab;
}
.widget_woo_twitter ul li {
  background: #e9ebe7;
  border-color: #e9ebe7;
}
.widget_woo_twitter ul li:after {
  border: 0.5em solid #e9ebe7;
  border-color: #e9ebe7 transparent transparent transparent;
}
/* WOOTABS */
#tabs ul.wooTabs li a {
  border-color: #d8dbd3;
}
.widget ul.product_list_widget li img,
.widget ul.cart_list li img {
  box-shadow: 0 1px 2px 0 #b7c1ab;
  -webkit-box-shadow: 0 1px 2px 0 #b7c1ab;
  -moz-box-shadow: 0 1px 2px 0 #b7c1ab;
  -o-box-shadow: 0 1px 2px 0 #b7c1ab;
}
.widget_layered_nav li .count {
  background: #e9ebe7;
  text-shadow: 0 1px 0 #fafcf8;
  border-color: #c8cac6;
}
.widget_price_filter .price_slider_amount {
  color: #959f89;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #737d67;
  box-shadow: 0 0 2px 0 #a6b09a;
  -webkit-box-shadow: 0 0 2px 0 #a6b09a;
  -moz-box-shadow: 0 0 2px 0 #a6b09a;
  -o-box-shadow: 0 0 2px 0 #a6b09a;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover {
  box-shadow: 0 0 4px 0 #adc760;
  -webkit-box-shadow: 0 0 4px 0 #adc760;
  -moz-box-shadow: 0 0 4px 0 #adc760;
  -o-box-shadow: 0 0 4px 0 #adc760;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #adc760;
  box-shadow: inset 0 0 2px 0 #58720b;
  -webkit-box-shadow: inset 0 0 2px 0 #58720b;
  -moz-box-shadow: inset 0 0 2px 0 #58720b;
  -o-box-shadow: inset 0 0 2px 0 #58720b;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #737d67;
  background: -webkit-gradient(linear, left top, left bottom, from(#737d67), to(#959f89));
  background: -webkit-linear-gradient(#737d67, #959f89);
  background: -moz-linear-gradient(center top, #737d67 0%, #959f89 100%);
  background: -moz-gradient(center top, #737d67 0%, #959f89 100%);
  -webkit-box-shadow: inset 0 1px 2px #404a34, 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #404a34, 0 0 0 1px #ffffff;
  box-shadow: inset 0 1px 2px #404a34, 0 0 0 1px #ffffff;
}
/* Search (#searchform = wc, .searchform = wf) */
#sidebar #searchform,
#footer-widgets #searchform,
#sidebar .searchform,
#footer-widgets .searchform {
  color: #737d67;
  border-color: #c8d2bc;
}
#comments .comment .comment-entry,
#comments .comment .comment-text {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #d8dad6;
  -webkit-box-shadow: 0 1px 2px 0 #d8dad6;
  -moz-box-shadow: 0 1px 2px 0 #d8dad6;
  -o-box-shadow: 0 1px 2px 0 #d8dad6;
  color: #848e78;
}
#comments .comment .comment-entry:before,
#comments .comment .comment-text:before {
  border: 0.5em solid #ffffff;
  border-color: transparent;
  border-right-color: #ffffff;
}
#comments .comment .comment-head,
#comments .comment p.meta {
  color: #a6b09a;
}
#comments .comment .comment-head .name,
#comments .comment p.meta .name {
  color: #515b45;
}
#comments .comment .comment-head .perma a,
#comments .comment p.meta .perma a {
  border-color: #d9e3cd;
  color: #737d67;
  background: #ffffff;
}
#comments .comment .comment-head .perma a:hover,
#comments .comment p.meta .perma a:hover {
  border-color: #c8d2bc;
}
#respond {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #d8dad6;
  -webkit-box-shadow: 0 1px 2px 0 #d8dad6;
  -moz-box-shadow: 0 1px 2px 0 #d8dad6;
  -o-box-shadow: 0 1px 2px 0 #d8dad6;
}
#respond #reply-title small a:hover {
  background-color: #adc760;
}
#archives .archives_list {
  border-color: #b7c1ab;
}
#archives .archives_list li {
  border-color: #b7c1ab;
}
#archives .archives_list .date {
  color: #959f89;
}
#archives .archives_list .comments a {
  color: #737d67;
}
mark.featured {
  background: #adc760;
}
ul.products li.product {
  box-shadow: 0 0 4px 0 #b6b8b4;
  -webkit-box-shadow: 0 0 4px 0 #b6b8b4;
  -moz-box-shadow: 0 0 4px 0 #b6b8b4;
  -o-box-shadow: 0 0 4px 0 #b6b8b4;
}
ul.products li.product h3 {
  color: #adc760;
}
ul.products li.product .price {
  color: #404a34;
}
ul.products li.product .excerpt p {
  color: #737d67;
}
.woocommerce .type-product .images a:hover img {
  background: #ffffff;
}
.woocommerce .type-product .images img {
  background: #f6f7f5;
  border-color: #fafcf8;
  box-shadow: 0 1px 2px 0 #d8dbd3;
  -webkit-box-shadow: 0 1px 2px 0 #d8dbd3;
  -moz-box-shadow: 0 1px 2px 0 #d8dbd3;
  -o-box-shadow: 0 1px 2px 0 #d8dbd3;
}
.woocommerce .type-product .summary .product_meta {
  color: #959f89;
}
.woocommerce .type-product .summary .product_meta a {
  color: #737d67;
}
.woocommerce .type-product h2 {
  color: #1e2812;
}
.woocommerce .woocommerce_tabs ul.tabs li a,
.woocommerce .woocommerce-tabs ul.tabs li a {
  border-color: #d8dbd3;
}
.woocommerce .woocommerce_tabs ul.tabs li a:hover,
.woocommerce .woocommerce-tabs ul.tabs li a:hover {
  background: #f8f9f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f9f8), to(#f1f2ef));
  background: -webkit-linear-gradient(#f8f9f8, #f1f2ef);
  background: -moz-linear-gradient(center top, #f8f9f8 0%, #f1f2ef 100%);
  background: -moz-gradient(center top, #f8f9f8 0%, #f1f2ef 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #8ba53e;
}
.woocommerce .woocommerce_tabs ul.tabs li.active a,
.woocommerce .woocommerce-tabs ul.tabs li.active a {
  background: #f8f9f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f9f8), to(#f1f2ef));
  background: -webkit-linear-gradient(#f8f9f8, #f1f2ef);
  background: -moz-linear-gradient(center top, #f8f9f8 0%, #f1f2ef 100%);
  background: -moz-gradient(center top, #f8f9f8 0%, #f1f2ef 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #8ba53e;
}
.woocommerce .woocommerce_tabs .panel,
.woocommerce .woocommerce-tabs .panel {
  border-color: #d8dbd3;
  background: #f1f2ef;
}
.quantity input.qty {
  border-color: #959f89;
  box-shadow: inset 0 0 2px 0 #b7c1ab;
  -webkit-box-shadow: inset 0 0 2px 0 #b7c1ab;
  -moz-box-shadow: inset 0 0 2px 0 #b7c1ab;
  -o-box-shadow: inset 0 0 2px 0 #b7c1ab;
}
.quantity .plus,
.quantity .minus {
  border-color: #7a942d;
  background: #adc760;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc760), to(#9cb64f));
  background: -webkit-linear-gradient(#adc760, #9cb64f);
  background: -moz-linear-gradient(center top, #adc760 0%, #9cb64f 100%);
  background: -moz-gradient(center top, #adc760 0%, #9cb64f 100%);
  text-shadow: 0 1px 0 #7a942d;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #bed871;
  background: -webkit-gradient(linear, left top, left bottom, from(#bed871), to(#9cb64f));
  background: -webkit-linear-gradient(#bed871, #9cb64f);
  background: -moz-linear-gradient(center top, #bed871 0%, #9cb64f 100%);
  background: -moz-gradient(center top, #bed871 0%, #9cb64f 100%);
}
#customer_details {
  background: #f6f7f5;
  box-shadow: 0 1px 2px 0 #dfe2dc;
  -webkit-box-shadow: 0 1px 2px 0 #dfe2dc;
  -moz-box-shadow: 0 1px 2px 0 #dfe2dc;
  -o-box-shadow: 0 1px 2px 0 #dfe2dc;
  border: 1px solid #c3c9bd;
}
ul.payment_methods {
  background: #f6f7f5;
  box-shadow: 0 1px 2px 0 #dfe2dc;
  -webkit-box-shadow: 0 1px 2px 0 #dfe2dc;
  -moz-box-shadow: 0 1px 2px 0 #dfe2dc;
  -o-box-shadow: 0 1px 2px 0 #dfe2dc;
  border: 1px solid #c3c9bd;
}
ul.payment_methods .payment_box {
  background: #e9ebe7;
}
ul.digital-downloads li {
  border-color: #b7c1ab;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  border-color: #2f3923;
  background: #adc760;
  background: -webkit-gradient(linear, left top, left bottom, from(#adc760), to(#8ba53e));
  background: -webkit-linear-gradient(#adc760, #8ba53e);
  background: -moz-linear-gradient(center top, #adc760 0%, #8ba53e 100%);
  background: -moz-gradient(center top, #adc760 0%, #8ba53e 100%);
  color: #ffffff !important;
  text-shadow: 0 -1px 0 #69831c;
  -webkit-box-shadow: inset 0 1px 0 #cfe982, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #cfe982, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #cfe982, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
a.button:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #bed871;
  background: -webkit-gradient(linear, left top, left bottom, from(#bed871), to(#8ba53e));
  background: -webkit-linear-gradient(#bed871, #8ba53e);
  background: -moz-linear-gradient(center top, #bed871 0%, #8ba53e 100%);
  background: -moz-gradient(center top, #bed871 0%, #8ba53e 100%);
}
.button.alt {
  background: #7a60c7;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a60c7), to(#583ea5));
  background: -webkit-linear-gradient(#7a60c7, #583ea5);
  background: -moz-linear-gradient(center top, #7a60c7 0%, #583ea5 100%);
  background: -moz-gradient(center top, #7a60c7 0%, #583ea5 100%);
  text-shadow: 0 -1px 0 #361c83;
  border-color: #2d2339;
  -webkit-box-shadow: inset 0 1px 0 #9c82e9, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #9c82e9, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #9c82e9, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
.button.alt:hover {
  background: #8b71d8;
  background: -webkit-gradient(linear, left top, left bottom, from(#8b71d8), to(#583ea5));
  background: -webkit-linear-gradient(#8b71d8, #583ea5);
  background: -moz-linear-gradient(center top, #8b71d8 0%, #583ea5 100%);
  background: -moz-gradient(center top, #8b71d8 0%, #583ea5 100%);
}
/* 11.5 Messages / info boxes */
.woocommerce_message,
.info,
.woocommerce_error {
  border-color: #adc760;
}
.woocommerce_message:before,
.info:before,
.woocommerce_error:before {
  background-color: #adc760;
}
.ie6 .button,
.ie6 .button:visited {
  color: #737d67 !important;
}
.ie6 .reply a {
  color: #737d67 !important;
}
.ie8 #top {
  background: #f6f7f5;
  border-color: #dde0d9;
}
.ie8 #top #search-top .submit:hover {
  background: #fafcf8;
}
.ie8 #top .nav a {
  color: #a6b09a;
}
.ie8 #top .nav a:hover {
  color: #848e78;
}
.ie8 #top .nav li.current_page_item a,
.ie8 #top .nav li.current_page_parent a,
.ie8 #top .nav li.current-menu-ancestor a,
.ie8 #top .nav li.current-cat a,
.ie8 #top .nav li.li.current-menu-item a,
.ie8 #top .nav li.sfHover a {
  color: #848e78;
}
.ie8 #top .nav li ul {
  background: #f6f7f5;
  border-color: #dde0d9;
}
.ie8 #top .nav li ul li a:hover {
  color: #515b45;
}
.ie8 #navigation {
  background: none;
  filter: none;
  border: none;
}
.ie8 #navigation .nav li:hover a:after,
.ie8 #navigation .nav li:hover a:before {
  border-color: #e3e5e1;
}
.ie8 #navigation .nav li:hover a:before {
  border-color: transparent #e3e5e1 #e3e5e1 transparent;
}
.ie8 #navigation .nav li:hover a:after {
  border-color: transparent transparent #e3e5e1 #e3e5e1;
}
.ie8 #navigation .nav li a {
  color: #626c56;
  text-shadow: 0 1px 0 #fafcf8;
}
.ie8 #navigation .nav li a:hover {
  background: #d7d9d5;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7d9d5), to(#e3e5e1));
  background: -webkit-linear-gradient(#d7d9d5, #e3e5e1);
  background: -moz-linear-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
  background: -moz-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
}
.ie8 #navigation .nav li a:hover:after,
.ie8 #navigation .nav li a:hover:before {
  border-color: #e3e5e1;
}
.ie8 #navigation .nav li a:hover:before {
  border-color: transparent #e3e5e1 #e3e5e1 transparent;
}
.ie8 #navigation .nav li a:hover:after {
  border-color: transparent transparent #e3e5e1 #e3e5e1;
}
.ie8 #navigation .nav li.current_page_item a,
.ie8 #navigation .nav li.current-menu-item a {
  background: #d7d9d5;
  background: -webkit-gradient(linear, left top, left bottom, from(#d7d9d5), to(#e3e5e1));
  background: -webkit-linear-gradient(#d7d9d5, #e3e5e1);
  background: -moz-linear-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
  background: -moz-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after,
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: #eef0ec;
}
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: transparent #e3e5e1 #e3e5e1 transparent;
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after {
  border-color: transparent transparent #e3e5e1 #e3e5e1;
}
.ie8 #navigation .nav li ul {
  background: #adc760;
}
.ie8 #navigation .nav li ul li a {
  color: #f4ffd2;
  text-shadow: 0 -1px 0 #8ba53e;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover {
  background: #adc760;
  color: #f4ffd2;
  text-shadow: 0 -1px 0 #9cb64f;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
  border-color: transparent transparent #adc760 #adc760;
}
.ie8 #navigation .nav li:hover a.sf-with-ul {
  background: #adc760;
  color: #f4ffd2;
  text-shadow: 0 -1px 0 #8ba53e;
  filter: none;
}
.ie8 #navigation .nav li:hover a.sf-with-ul:after {
  border-color: transparent transparent #adc760 #adc760;
}
.ie8 #navigation .mini-cart li ul.cart_list {
  border-color: #8da740;
}
.ie8 #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
.ie8 #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
  border-color: transparent #adc760 #adc760 transparent;
}
.ie8 #navigation .mini-cart li:hover a.sf-with-ul:before {
  border-color: transparent #adc760 #adc760 transparent;
}
.ie8 #content.homepage ul.products li.featured:hover {
  box-shadow: 0 0 1em 0 #bed871;
  -webkit-box-shadow: 0 0 1em 0 #bed871;
  -moz-box-shadow: 0 0 1em 0 #bed871;
  -o-box-shadow: 0 0 1em 0 #bed871;
}
.ie8 #sidebar {
  text-shadow: 0 1px 0 #f6f7f5;
}
.ie8 ul.products li.product:hover {
  border-color: #838581;
}
.ie8 .header-wrap {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f2ef));
  background: -webkit-linear-gradient(#ffffff, #f1f2ef);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f1f2ef 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f1f2ef 100%);
  box-shadow: 0 0 2.992em 0 #d8dad6;
  -webkit-box-shadow: 0 0 2.992em 0 #d8dad6;
  -moz-box-shadow: 0 0 2.992em 0 #d8dad6;
  -o-box-shadow: 0 0 2.992em 0 #d8dad6;
}
@media only screen and (min-width: 768px) {
  #top {
    background: #f6f7f5;
    border-color: #dde0d9;
  }
  #top #search-top .submit:hover {
    background: #fafcf8;
  }
  #top .nav a {
    color: #a6b09a;
  }
  #top .nav a:hover {
    color: #848e78;
  }
  #top .nav li.current_page_item a,
  #top .nav li.current_page_parent a,
  #top .nav li.current-menu-ancestor a,
  #top .nav li.current-cat a,
  #top .nav li.li.current-menu-item a,
  #top .nav li.sfHover a {
    color: #848e78;
  }
  #top .nav li ul {
    background: #f6f7f5;
    border-color: #dde0d9;
  }
  #top .nav li ul li a:hover {
    color: #515b45;
  }
  #navigation {
    background: none;
    filter: none;
    border: none;
  }
  #navigation .nav li:hover a:after,
  #navigation .nav li:hover a:before {
    border-color: #e3e5e1;
  }
  #navigation .nav li:hover a:before {
    border-color: transparent #e3e5e1 #e3e5e1 transparent;
  }
  #navigation .nav li:hover a:after {
    border-color: transparent transparent #e3e5e1 #e3e5e1;
  }
  #navigation .nav li a {
    color: #626c56;
    text-shadow: 0 1px 0 #fafcf8;
  }
  #navigation .nav li a:hover {
    background: #d7d9d5;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d9d5), to(#e3e5e1));
    background: -webkit-linear-gradient(#d7d9d5, #e3e5e1);
    background: -moz-linear-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
    background: -moz-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
  }
  #navigation .nav li a:hover:after,
  #navigation .nav li a:hover:before {
    border-color: #e3e5e1;
  }
  #navigation .nav li a:hover:before {
    border-color: transparent #e3e5e1 #e3e5e1 transparent;
  }
  #navigation .nav li a:hover:after {
    border-color: transparent transparent #e3e5e1 #e3e5e1;
  }
  #navigation .nav li.current_page_item a,
  #navigation .nav li.current-menu-item a {
    background: #d7d9d5;
    background: -webkit-gradient(linear, left top, left bottom, from(#d7d9d5), to(#e3e5e1));
    background: -webkit-linear-gradient(#d7d9d5, #e3e5e1);
    background: -moz-linear-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
    background: -moz-gradient(center top, #d7d9d5 0%, #e3e5e1 100%);
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after,
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: #eef0ec;
  }
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: transparent #e3e5e1 #e3e5e1 transparent;
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after {
    border-color: transparent transparent #e3e5e1 #e3e5e1;
  }
  #navigation .nav li ul {
    background: #adc760;
  }
  #navigation .nav li ul li a {
    color: #f4ffd2;
    text-shadow: 0 -1px 0 #8ba53e;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover {
    background: #adc760;
    color: #f4ffd2;
    text-shadow: 0 -1px 0 #9cb64f;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
    border-color: transparent transparent #adc760 #adc760;
  }
  #navigation .nav li:hover a.sf-with-ul {
    background: #adc760;
    color: #f4ffd2;
    text-shadow: 0 -1px 0 #8ba53e;
    filter: none;
  }
  #navigation .nav li:hover a.sf-with-ul:after {
    border-color: transparent transparent #adc760 #adc760;
  }
  #navigation .mini-cart li ul.cart_list {
    border-color: #8da740;
  }
  #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
  #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
    border-color: transparent #adc760 #adc760 transparent;
  }
  #navigation .mini-cart li:hover a.sf-with-ul:before {
    border-color: transparent #adc760 #adc760 transparent;
  }
  #content.homepage ul.products li.featured:hover {
    box-shadow: 0 0 1em 0 #bed871;
    -webkit-box-shadow: 0 0 1em 0 #bed871;
    -moz-box-shadow: 0 0 1em 0 #bed871;
    -o-box-shadow: 0 0 1em 0 #bed871;
  }
  #sidebar {
    text-shadow: 0 1px 0 #f6f7f5;
  }
  ul.products li.product:hover {
    border-color: #838581;
  }
  .header-wrap {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f1f2ef));
    background: -webkit-linear-gradient(#ffffff, #f1f2ef);
    background: -moz-linear-gradient(center top, #ffffff 0%, #f1f2ef 100%);
    background: -moz-gradient(center top, #ffffff 0%, #f1f2ef 100%);
    box-shadow: 0 0 2.992em 0 #d8dad6;
    -webkit-box-shadow: 0 0 2.992em 0 #d8dad6;
    -moz-box-shadow: 0 0 2.992em 0 #d8dad6;
    -o-box-shadow: 0 0 2.992em 0 #d8dad6;
  }
}
