/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/*-- [ Colour variable resets ] ----------------------------------------------------------------------------------------------*/
html {
  background: #f6f6f6;
}
body {
  color: #505050;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #191919;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #939393;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #717171;
}
label {
  color: #505050;
}
.input-text,
input[type=text],
textarea {
  border-color: #a5a5a5;
}
.input-text:focus,
input[type=text]:focus,
textarea:focus {
  border-color: #838383;
  box-shadow: 0 1px 2px 0 #d7d7d7;
  -webkit-box-shadow: 0 1px 2px 0 #d7d7d7;
  -moz-box-shadow: 0 1px 2px 0 #d7d7d7;
  -o-box-shadow: 0 1px 2px 0 #d7d7d7;
}
mark {
  color: #505050;
}
a {
  color: #939393;
}
a:hover {
  color: #717171;
}
#navigation {
  background: #939393;
  background: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#868686));
  background: -webkit-linear-gradient(#939393, #868686);
  background: -moz-linear-gradient(center top, #939393 0%, #868686 100%);
  background: -moz-gradient(center top, #939393 0%, #868686 100%);
  border: 1px solid #717171;
}
#navigation a {
  color: #e8e8e8;
  text-shadow: 0 -1px 0 #717171;
}
#navigation .mini-cart li mark.count {
  background: #ca5661;
  background: -webkit-gradient(linear, left top, left bottom, from(#ca5661), to(#bc424e));
  background: -webkit-linear-gradient(#ca5661, #bc424e);
  background: -moz-linear-gradient(center top, #ca5661 0%, #bc424e 100%);
  background: -moz-gradient(center top, #ca5661 0%, #bc424e 100%);
  text-shadow: 0 1px 0 #a8343f;
}
#navigation .mini-cart li ul.cart_list {
  color: #4f4f4f;
}
#navigation .mini-cart li ul.cart_list li.buttons {
  background: #939393;
  background: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#868686));
  background: -webkit-linear-gradient(#939393, #868686);
  background: -moz-linear-gradient(center top, #939393 0%, #868686 100%);
  background: -moz-gradient(center top, #939393 0%, #868686 100%);
}
#navigation .mini-cart li ul.cart_list li.buttons a.button {
  background: #B8AA9B !important;
  border: none !important;
}
#top #search-top .submit {
  background: none;
}
#top #search-top .submit:hover {
  background: none;
}
.nav-trigger {
  color: #939393;
}
#header .site-description {
  color: #d0d0d0;
}
.slider li .more {
  background: #939393;
  border-color: #717171;
  background: #939393;
  background: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#717171));
  background: -webkit-linear-gradient(#939393, #717171);
  background: -moz-linear-gradient(center top, #939393 0%, #717171 100%);
  background: -moz-gradient(center top, #939393 0%, #717171 100%);
  text-shadow: 0 -1px 0 #606060;
}
.slider li .more:hover {
  background: #a4a4a4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#717171));
  background: -webkit-linear-gradient(#a4a4a4, #717171);
  background: -moz-linear-gradient(center top, #a4a4a4 0%, #717171 100%);
  background: -moz-gradient(center top, #a4a4a4 0%, #717171 100%);
}
ol.flex-control-nav li a {
  border: 3px solid #939393;
}
ol.flex-control-nav li a:hover,
ol.flex-control-nav li a.active {
  background: #939393;
}
#footer {
  background: #d7d7d7;
  border-top-color: #b6b6b6;
}
#footer-widgets {
  border-top-color: #d8d8d8;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#footer-widgets .widget {
  color: #727272;
}
/* 2.7 Breadcrumbs */
.breadcrumb {
  color: #949494;
  box-shadow: 0 1px 2px 0 #dfdfdf;
  -webkit-box-shadow: 0 1px 2px 0 #dfdfdf;
  -moz-box-shadow: 0 1px 2px 0 #dfdfdf;
  -o-box-shadow: 0 1px 2px 0 #dfdfdf;
  border-color: #c3c3c3;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
  background: -webkit-linear-gradient(#ffffff, #e9e9e9);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e9e9e9 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e9e9e9 100%);
  text-shadow: 0 1px 0 #fafafa;
}
.breadcrumb a {
  color: #838383;
}
.breadcrumb a:hover {
  color: #616161;
}
.homepage ul.products li.featured {
  box-shadow: 0 0 2px 0 #939393;
  -webkit-box-shadow: 0 0 2px 0 #939393;
  -moz-box-shadow: 0 0 2px 0 #939393;
  -o-box-shadow: 0 0 2px 0 #939393;
}
.homepage ul.products li.featured:hover {
  border-color: #828282;
}
.go-shopping {
  border-color: #d7d7d7;
}
.archive_header {
  border-color: #b6b6b6;
}
article.type-post,
article.type-page {
  box-shadow: 0 1px 2px 0 #dfdfdf;
  -webkit-box-shadow: 0 1px 2px 0 #dfdfdf;
  -moz-box-shadow: 0 1px 2px 0 #dfdfdf;
  -o-box-shadow: 0 1px 2px 0 #dfdfdf;
  border-color: #c3c3c3;
}
article.type-post:before,
article.type-page:before {
  background: #ececec;
  border-color: #c3c3c3;
  box-shadow: inset 0 0 6px 0 #dfdfdf;
  -webkit-box-shadow: inset 0 0 6px 0 #dfdfdf;
  -moz-box-shadow: inset 0 0 6px 0 #dfdfdf;
  -o-box-shadow: inset 0 0 6px 0 #dfdfdf;
}
.meta {
  color: #a5a5a5;
}
.meta ul li a {
  color: #a5a5a5;
}
.meta ul li a:hover {
  color: #727272;
}
.meta ul li a:before,
.meta ul li a:after {
  background: #a5a5a5;
}
.meta ul li.date:before,
.meta ul li.date:after {
  border-color: #a5a5a5;
  background: transparent;
}
.meta ul li.date:after {
  background: transparent;
}
.meta ul li.category a:after {
  background: #a5a5a5;
}
.meta ul li.comments a:after {
  border: 2px solid transparent;
  border-top-color: #a5a5a5;
  border-left-color: #a5a5a5;
}
.meta ul li.tags:before {
  background: #a5a5a5;
}
.post img,
.post img.thumbnail {
  box-shadow: 0 1px 2px 0 #b6b6b6;
  -webkit-box-shadow: 0 1px 2px 0 #b6b6b6;
  -moz-box-shadow: 0 1px 2px 0 #b6b6b6;
  -o-box-shadow: 0 1px 2px 0 #b6b6b6;
}
.post img:hover,
.post img.thumbnail:hover {
  border-color: #949494;
}
.post .wp-caption {
  box-shadow: 0 1px 2px 0 #b6b6b6;
  -webkit-box-shadow: 0 1px 2px 0 #b6b6b6;
  -moz-box-shadow: 0 1px 2px 0 #b6b6b6;
  -o-box-shadow: 0 1px 2px 0 #b6b6b6;
}
.nav-entries a {
  color: #727272;
}
.woo-pagination .page-numbers {
  color: #505050;
  border: 1px solid #b6b6b6;
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e4e4e4));
  background: -webkit-linear-gradient(#fafafa, #e4e4e4);
  background: -moz-linear-gradient(center top, #fafafa 0%, #e4e4e4 100%);
  background: -moz-gradient(center top, #fafafa 0%, #e4e4e4 100%);
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 #d8d8d8, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 2px 0 #d8d8d8, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px 0 #d8d8d8, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.woo-pagination .page-numbers.dots + .page-numbers,
.woo-pagination .page-numbers:first-child {
  border-color: #b6b6b6;
}
.woo-pagination .page-numbers:hover {
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e9e9e9));
  background: -webkit-linear-gradient(#fafafa, #e9e9e9);
  background: -moz-linear-gradient(center top, #fafafa 0%, #e9e9e9 100%);
  background: -moz-gradient(center top, #fafafa 0%, #e9e9e9 100%);
}
.woo-pagination .page-numbers.current {
  background: #b6b6b6;
  background: -webkit-gradient(linear, left top, left bottom, from(#b6b6b6), to(#c7c7c7));
  background: -webkit-linear-gradient(#b6b6b6, #c7c7c7);
  background: -moz-linear-gradient(center top, #b6b6b6 0%, #c7c7c7 100%);
  background: -moz-gradient(center top, #b6b6b6 0%, #c7c7c7 100%);
  border-color: #b6b6b6;
  text-shadow: 0 1px 0 #949494;
  -webkit-box-shadow: 0 0 1px #a5a5a5, 0 1px 0 0 #ffffff;
  -moz-box-shadow: 0 0 1px #a5a5a5, 0 1px 0 0 #ffffff;
  box-shadow: 0 0 1px #a5a5a5, 0 1px 0 0 #ffffff;
}
#post-author .profile-content {
  color: #949494;
}
table {
  box-shadow: 0 1px 2px 0 #dfdfdf;
  -webkit-box-shadow: 0 1px 2px 0 #dfdfdf;
  -moz-box-shadow: 0 1px 2px 0 #dfdfdf;
  -o-box-shadow: 0 1px 2px 0 #dfdfdf;
  border-color: #c3c3c3;
}
table th {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e4e4e4));
  background: -webkit-linear-gradient(#ffffff, #e4e4e4);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e4e4e4 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e4e4e4 100%);
  border-color: #c3c3c3;
  color: #3f3f3f;
}
table td {
  border: 1px solid #c3c3c3;
  background: #e9e9e9;
}
#connect {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #d8d8d8;
  -webkit-box-shadow: 0 1px 2px 0 #d8d8d8;
  -moz-box-shadow: 0 1px 2px 0 #d8d8d8;
  -o-box-shadow: 0 1px 2px 0 #d8d8d8;
}
#post-entries {
  box-shadow: 0 1px 2px 0 #dcdcdc;
  -webkit-box-shadow: 0 1px 2px 0 #dcdcdc;
  -moz-box-shadow: 0 1px 2px 0 #dcdcdc;
  -o-box-shadow: 0 1px 2px 0 #dcdcdc;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
  background: -webkit-linear-gradient(#ffffff, #e9e9e9);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e9e9e9 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e9e9e9 100%);
  border-color: #c3c3c3;
}
#post-entries a {
  color: #2e2e2e;
  text-shadow: 0 1px 0 #fafafa;
}
#post-entries a:hover {
  background: #e9e9e9;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#d8d8d8));
  background: -webkit-linear-gradient(#e9e9e9, #d8d8d8);
  background: -moz-linear-gradient(center top, #e9e9e9 0%, #d8d8d8 100%);
  background: -moz-gradient(center top, #e9e9e9 0%, #d8d8d8 100%);
}
#post-entries .nav-prev a {
  border-color: #b6b6b6;
}
#post-entries .nav-next a {
  border-color: #b6b6b6;
}
.widget {
  background: #e4e4e4;
  box-shadow: inset 0 0 3px 0 #a9a9a9;
  -webkit-box-shadow: inset 0 0 3px 0 #a9a9a9;
  -moz-box-shadow: inset 0 0 3px 0 #a9a9a9;
  -o-box-shadow: inset 0 0 3px 0 #a9a9a9;
  border: 1px solid #f6f6f6;
}
.widget .widget-inside {
  color: #949494;
  background: #ffffff;
  box-shadow: 0 0 3px 0 #a9a9a9;
  -webkit-box-shadow: 0 0 3px 0 #a9a9a9;
  -moz-box-shadow: 0 0 3px 0 #a9a9a9;
  -o-box-shadow: 0 0 3px 0 #a9a9a9;
}
.widget .widget-inside:first-child h3 {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
  background: -webkit-linear-gradient(#ffffff, #e9e9e9);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e9e9e9 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e9e9e9 100%);
  border-bottom: 1px solid #d0d0d0;
  box-shadow: 0 1px 2px 0 #e6e6e6;
  -webkit-box-shadow: 0 1px 2px 0 #e6e6e6;
  -moz-box-shadow: 0 1px 2px 0 #e6e6e6;
  -o-box-shadow: 0 1px 2px 0 #e6e6e6;
}
.widget .widget-inside a {
  color: #727272;
}
.widget .widget-inside a:hover {
  color: #505050;
}
#footer-widgets .widget {
  background: #e4e4e4;
  box-shadow: inset 0 0 3px 0 #a9a9a9;
  -webkit-box-shadow: inset 0 0 3px 0 #a9a9a9;
  -moz-box-shadow: inset 0 0 3px 0 #a9a9a9;
  -o-box-shadow: inset 0 0 3px 0 #a9a9a9;
  border: 1px solid #f6f6f6;
}
.widget_woo_blogauthorinfo .avatar {
  border-color: #b6b6b6;
}
.widget_woo_twitter ul li {
  background: #e9e9e9;
  border-color: #e9e9e9;
}
.widget_woo_twitter ul li:after {
  border: 0.5em solid #e9e9e9;
  border-color: #e9e9e9 transparent transparent transparent;
}
/* WOOTABS */
#tabs ul.wooTabs li a {
  border-color: #d7d7d7;
}
.widget ul.product_list_widget li img,
.widget ul.cart_list li img {
  box-shadow: 0 1px 2px 0 #b6b6b6;
  -webkit-box-shadow: 0 1px 2px 0 #b6b6b6;
  -moz-box-shadow: 0 1px 2px 0 #b6b6b6;
  -o-box-shadow: 0 1px 2px 0 #b6b6b6;
}
.widget_layered_nav li .count {
  background: #e9e9e9;
  text-shadow: 0 1px 0 #fafafa;
  border-color: #c8c8c8;
}
.widget_price_filter .price_slider_amount {
  color: #949494;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #727272;
  box-shadow: 0 0 2px 0 #a5a5a5;
  -webkit-box-shadow: 0 0 2px 0 #a5a5a5;
  -moz-box-shadow: 0 0 2px 0 #a5a5a5;
  -o-box-shadow: 0 0 2px 0 #a5a5a5;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover {
  box-shadow: 0 0 4px 0 #939393;
  -webkit-box-shadow: 0 0 4px 0 #939393;
  -moz-box-shadow: 0 0 4px 0 #939393;
  -o-box-shadow: 0 0 4px 0 #939393;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #939393;
  box-shadow: inset 0 0 2px 0 #3e3e3e;
  -webkit-box-shadow: inset 0 0 2px 0 #3e3e3e;
  -moz-box-shadow: inset 0 0 2px 0 #3e3e3e;
  -o-box-shadow: inset 0 0 2px 0 #3e3e3e;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #727272;
  background: -webkit-gradient(linear, left top, left bottom, from(#727272), to(#949494));
  background: -webkit-linear-gradient(#727272, #949494);
  background: -moz-linear-gradient(center top, #727272 0%, #949494 100%);
  background: -moz-gradient(center top, #727272 0%, #949494 100%);
  -webkit-box-shadow: inset 0 1px 2px #3f3f3f, 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #3f3f3f, 0 0 0 1px #ffffff;
  box-shadow: inset 0 1px 2px #3f3f3f, 0 0 0 1px #ffffff;
}
/* Search (#searchform = wc, .searchform = wf) */
#sidebar #searchform,
#footer-widgets #searchform,
#sidebar .searchform,
#footer-widgets .searchform {
  color: #727272;
  border-color: #c7c7c7;
}
#comments .comment .comment-entry,
#comments .comment .comment-text {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #d8d8d8;
  -webkit-box-shadow: 0 1px 2px 0 #d8d8d8;
  -moz-box-shadow: 0 1px 2px 0 #d8d8d8;
  -o-box-shadow: 0 1px 2px 0 #d8d8d8;
  color: #838383;
}
#comments .comment .comment-entry:before,
#comments .comment .comment-text:before {
  border: 0.5em solid #ffffff;
  border-color: transparent;
  border-right-color: #ffffff;
}
#comments .comment .comment-head,
#comments .comment p.meta {
  color: #a5a5a5;
}
#comments .comment .comment-head .name,
#comments .comment p.meta .name {
  color: #505050;
}
#comments .comment .comment-head .perma a,
#comments .comment p.meta .perma a {
  border-color: #d8d8d8;
  color: #727272;
  background: #ffffff;
}
#comments .comment .comment-head .perma a:hover,
#comments .comment p.meta .perma a:hover {
  border-color: #c7c7c7;
}
#respond {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #d8d8d8;
  -webkit-box-shadow: 0 1px 2px 0 #d8d8d8;
  -moz-box-shadow: 0 1px 2px 0 #d8d8d8;
  -o-box-shadow: 0 1px 2px 0 #d8d8d8;
}
#respond #reply-title small a:hover {
  background-color: #939393;
}
#archives .archives_list {
  border-color: #b6b6b6;
}
#archives .archives_list li {
  border-color: #b6b6b6;
}
#archives .archives_list .date {
  color: #949494;
}
#archives .archives_list .comments a {
  color: #727272;
}
mark.featured {
  background: #939393;
}
ul.products li.product {
  box-shadow: 0 0 4px 0 #b6b6b6;
  -webkit-box-shadow: 0 0 4px 0 #b6b6b6;
  -moz-box-shadow: 0 0 4px 0 #b6b6b6;
  -o-box-shadow: 0 0 4px 0 #b6b6b6;
}
ul.products li.product h3 {
  color: #939393;
}
ul.products li.product .price {
  color: #3f3f3f;
}
ul.products li.product .excerpt p {
  color: #727272;
}
.woocommerce .type-product .images a:hover img {
  background: #ffffff;
}
.woocommerce .type-product .images img {
  background: #f6f6f6;
  border-color: #fafafa;
  box-shadow: 0 1px 2px 0 #d7d7d7;
  -webkit-box-shadow: 0 1px 2px 0 #d7d7d7;
  -moz-box-shadow: 0 1px 2px 0 #d7d7d7;
  -o-box-shadow: 0 1px 2px 0 #d7d7d7;
}
.woocommerce .type-product .summary .product_meta {
  color: #949494;
}
.woocommerce .type-product .summary .product_meta a {
  color: #727272;
}
.woocommerce .type-product h2 {
  color: #1d1d1d;
}
.woocommerce .woocommerce_tabs ul.tabs li a,
.woocommerce .woocommerce-tabs ul.tabs li a {
  border-color: #d7d7d7;
}
.woocommerce .woocommerce_tabs ul.tabs li a:hover,
.woocommerce .woocommerce-tabs ul.tabs li a:hover {
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background: -moz-linear-gradient(center top, #f8f8f8 0%, #f1f1f1 100%);
  background: -moz-gradient(center top, #f8f8f8 0%, #f1f1f1 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #717171;
}
.woocommerce .woocommerce_tabs ul.tabs li.active a,
.woocommerce .woocommerce-tabs ul.tabs li.active a {
  background: #f8f8f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f1f1f1));
  background: -webkit-linear-gradient(#f8f8f8, #f1f1f1);
  background: -moz-linear-gradient(center top, #f8f8f8 0%, #f1f1f1 100%);
  background: -moz-gradient(center top, #f8f8f8 0%, #f1f1f1 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #717171;
}
.woocommerce .woocommerce_tabs .panel,
.woocommerce .woocommerce-tabs .panel {
  border-color: #d7d7d7;
  background: #f1f1f1;
}
.quantity input.qty {
  border-color: #949494;
  box-shadow: inset 0 0 2px 0 #b6b6b6;
  -webkit-box-shadow: inset 0 0 2px 0 #b6b6b6;
  -moz-box-shadow: inset 0 0 2px 0 #b6b6b6;
  -o-box-shadow: inset 0 0 2px 0 #b6b6b6;
}
.quantity .plus,
.quantity .minus {
  border-color: #606060;
  background: #939393;
  background: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#828282));
  background: -webkit-linear-gradient(#939393, #828282);
  background: -moz-linear-gradient(center top, #939393 0%, #828282 100%);
  background: -moz-gradient(center top, #939393 0%, #828282 100%);
  text-shadow: 0 1px 0 #606060;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #a4a4a4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#828282));
  background: -webkit-linear-gradient(#a4a4a4, #828282);
  background: -moz-linear-gradient(center top, #a4a4a4 0%, #828282 100%);
  background: -moz-gradient(center top, #a4a4a4 0%, #828282 100%);
}
#customer_details {
  background: #f6f6f6;
  box-shadow: 0 1px 2px 0 #dfdfdf;
  -webkit-box-shadow: 0 1px 2px 0 #dfdfdf;
  -moz-box-shadow: 0 1px 2px 0 #dfdfdf;
  -o-box-shadow: 0 1px 2px 0 #dfdfdf;
  border: 1px solid #c3c3c3;
}
ul.payment_methods {
  background: #f6f6f6;
  box-shadow: 0 1px 2px 0 #dfdfdf;
  -webkit-box-shadow: 0 1px 2px 0 #dfdfdf;
  -moz-box-shadow: 0 1px 2px 0 #dfdfdf;
  -o-box-shadow: 0 1px 2px 0 #dfdfdf;
  border: 1px solid #c3c3c3;
}
ul.payment_methods .payment_box {
  background: #e9e9e9;
}
ul.digital-downloads li {
  border-color: #b6b6b6;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  border-color: #2e2e2e;
  background: #939393;
  background: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#717171));
  background: -webkit-linear-gradient(#939393, #717171);
  background: -moz-linear-gradient(center top, #939393 0%, #717171 100%);
  background: -moz-gradient(center top, #939393 0%, #717171 100%);
  color: #ffffff !important;
  text-shadow: 0 -1px 0 #4f4f4f;
  -webkit-box-shadow: inset 0 1px 0 #b5b5b5, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #b5b5b5, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #b5b5b5, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
a.button:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #a4a4a4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#717171));
  background: -webkit-linear-gradient(#a4a4a4, #717171);
  background: -moz-linear-gradient(center top, #a4a4a4 0%, #717171 100%);
  background: -moz-gradient(center top, #a4a4a4 0%, #717171 100%);
}
.button.alt {
  background: #939393;
  background: -webkit-gradient(linear, left top, left bottom, from(#939393), to(#717171));
  background: -webkit-linear-gradient(#939393, #717171);
  background: -moz-linear-gradient(center top, #939393 0%, #717171 100%);
  background: -moz-gradient(center top, #939393 0%, #717171 100%);
  text-shadow: 0 -1px 0 #4f4f4f;
  border-color: #2e2e2e;
  -webkit-box-shadow: inset 0 1px 0 #b5b5b5, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #b5b5b5, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #b5b5b5, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
.button.alt:hover {
  background: #a4a4a4;
  background: -webkit-gradient(linear, left top, left bottom, from(#a4a4a4), to(#717171));
  background: -webkit-linear-gradient(#a4a4a4, #717171);
  background: -moz-linear-gradient(center top, #a4a4a4 0%, #717171 100%);
  background: -moz-gradient(center top, #a4a4a4 0%, #717171 100%);
}
/* 11.5 Messages / info boxes */
.woocommerce_message,
.info,
.woocommerce_error {
  border-color: #939393;
}
.woocommerce_message:before,
.info:before,
.woocommerce_error:before {
  background-color: #939393;
}
.ie6 .button,
.ie6 .button:visited {
  color: #727272 !important;
}
.ie6 .reply a {
  color: #727272 !important;
}
.ie8 #top {
  background: none;
  border: none;
}
.ie8 #top #search-top .submit:hover {
  background: #fafafa;
}
.ie8 #top .nav a {
  color: #a5a5a5;
}
.ie8 #top .nav a:hover {
  color: #838383;
}
.ie8 #top .nav li.current_page_item a,
.ie8 #top .nav li.current_page_parent a,
.ie8 #top .nav li.current-menu-ancestor a,
.ie8 #top .nav li.current-cat a,
.ie8 #top .nav li.li.current-menu-item a,
.ie8 #top .nav li.sfHover a {
  color: #838383;
}
.ie8 #top .nav li ul {
  background: #fff;
  border: none;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.ie8 #top .nav li ul li a:hover {
  color: #505050;
}
.ie8 #navigation {
  background: none;
  filter: none;
  border: none;
}
.ie8 #navigation .nav li:hover a:after,
.ie8 #navigation .nav li:hover a:before {
  border-color: #f6f6f6;
}
.ie8 #navigation .nav li:hover a:before {
  border-color: transparent #f6f6f6 #f6f6f6 transparent;
}
.ie8 #navigation .nav li:hover a:after {
  border-color: transparent transparent #f6f6f6 #f6f6f6;
}
.ie8 #navigation .nav li a {
  color: #616161;
  text-shadow: 0 1px 0 #fafafa;
}
.ie8 #navigation .nav li a:hover {
  background: #f6f6f6;
}
.ie8 #navigation .nav li a:hover:after,
.ie8 #navigation .nav li a:hover:before {
  border-color: #f6f6f6;
}
.ie8 #navigation .nav li a:hover:before {
  border-color: transparent #f6f6f6 #f6f6f6 transparent;
}
.ie8 #navigation .nav li a:hover:after {
  border-color: transparent transparent #f6f6f6 #f6f6f6;
}
.ie8 #navigation .nav li.current_page_item a,
.ie8 #navigation .nav li.current-menu-item a {
  background: #f6f6f6;
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after,
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: #f6f6f6;
}
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: transparent #f6f6f6 #f6f6f6 transparent;
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after {
  border-color: transparent transparent #f6f6f6 #f6f6f6;
}
.ie8 #navigation .nav li ul {
  background: #939393;
}
.ie8 #navigation .nav li ul li a {
  color: #e8e8e8;
  text-shadow: 0 -1px 0 #717171;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover {
  background: #939393;
  color: #e8e8e8;
  text-shadow: 0 -1px 0 #828282;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
  border-color: transparent transparent #939393 #939393;
}
.ie8 #navigation .nav li:hover a.sf-with-ul {
  background: #939393;
  color: #e8e8e8;
  text-shadow: 0 -1px 0 #717171;
  filter: none;
}
.ie8 #navigation .nav li:hover a.sf-with-ul:after {
  border-color: transparent transparent #939393 #939393;
}
.ie8 #navigation .mini-cart li ul.cart_list {
  border-color: #737373;
}
.ie8 #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
.ie8 #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
  border-color: transparent #939393 #939393 transparent;
}
.ie8 #navigation .mini-cart li:hover a.sf-with-ul:before {
  border-color: transparent #939393 #939393 transparent;
}
.ie8 #content.homepage ul.products li.featured:hover {
  box-shadow: 0 0 1em 0 #a4a4a4;
  -webkit-box-shadow: 0 0 1em 0 #a4a4a4;
  -moz-box-shadow: 0 0 1em 0 #a4a4a4;
  -o-box-shadow: 0 0 1em 0 #a4a4a4;
}
.ie8 #sidebar {
  text-shadow: 0 1px 0 #f6f6f6;
}
.ie8 ul.products li.product:hover {
  border-color: #838383;
}
.ie8 .header-wrap {
  background: #fff;
  box-shadow: 0 0 2.992em 0 #d8d8d8;
  -webkit-box-shadow: 0 0 2.992em 0 #d8d8d8;
  -moz-box-shadow: 0 0 2.992em 0 #d8d8d8;
  -o-box-shadow: 0 0 2.992em 0 #d8d8d8;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
@media only screen and (min-width: 320px) {
  #top {
    background: none;
    border: none;
  }
  #top #search-top .submit:hover {
    background: #fafafa;
  }
  #top .nav a {
    color: #a5a5a5;
  }
  #top .nav a:hover {
    color: #838383;
  }
  #top .nav li.current_page_item a,
  #top .nav li.current_page_parent a,
  #top .nav li.current-menu-ancestor a,
  #top .nav li.current-cat a,
  #top .nav li.li.current-menu-item a,
  #top .nav li.sfHover a {
    color: #838383;
  }
  #top .nav li ul {
    background: #fff;
    border: none;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  #top .nav li ul li a:hover {
    color: #505050;
  }
  #navigation {
    background: none;
    filter: none;
    border: none;
  }
  #navigation .nav li:hover a:after,
  #navigation .nav li:hover a:before {
    border-color: #f6f6f6;
  }
  #navigation .nav li:hover a:before {
    border-color: transparent #f6f6f6 #f6f6f6 transparent;
  }
  #navigation .nav li:hover a:after {
    border-color: transparent transparent #f6f6f6 #f6f6f6;
  }
  #navigation .nav li a {
    color: #616161;
    text-shadow: 0 1px 0 #fafafa;
  }
  #navigation .nav li a:hover {
    background: #f6f6f6;
  }
  #navigation .nav li a:hover:after,
  #navigation .nav li a:hover:before {
    border-color: #f6f6f6;
  }
  #navigation .nav li a:hover:before {
    border-color: transparent #f6f6f6 #f6f6f6 transparent;
  }
  #navigation .nav li a:hover:after {
    border-color: transparent transparent #f6f6f6 #f6f6f6;
  }
  #navigation .nav li.current_page_item a,
  #navigation .nav li.current-menu-item a {
    background: #f6f6f6;
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after,
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: #f6f6f6;
  }
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: transparent #f6f6f6 #f6f6f6 transparent;
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after {
    border-color: transparent transparent #f6f6f6 #f6f6f6;
  }
  #navigation .nav li ul {
    background: #939393;
  }
  #navigation .nav li ul li a {
    color: #e8e8e8;
    text-shadow: 0 -1px 0 #717171;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover {
    background: #939393;
    color: #e8e8e8;
    text-shadow: 0 -1px 0 #828282;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
    border-color: transparent transparent #939393 #939393;
  }
  #navigation .nav li:hover a.sf-with-ul {
    background: #939393;
    color: #e8e8e8;
    text-shadow: 0 -1px 0 #717171;
    filter: none;
  }
  #navigation .nav li:hover a.sf-with-ul:after {
    border-color: transparent transparent #939393 #939393;
  }
  #navigation .mini-cart li ul.cart_list {
    border-color: #737373;
  }
  #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
  #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
    border-color: transparent #939393 #939393 transparent;
  }
  #navigation .mini-cart li:hover a.sf-with-ul:before {
    border-color: transparent #939393 #939393 transparent;
  }
  #content.homepage ul.products li.featured:hover {
    box-shadow: 0 0 1em 0 #a4a4a4;
    -webkit-box-shadow: 0 0 1em 0 #a4a4a4;
    -moz-box-shadow: 0 0 1em 0 #a4a4a4;
    -o-box-shadow: 0 0 1em 0 #a4a4a4;
  }
  #sidebar {
    text-shadow: 0 1px 0 #f6f6f6;
  }
  ul.products li.product:hover {
    border-color: #838383;
  }
  .header-wrap {
    background: #fff;
    box-shadow: 0 0 2.992em 0 #d8d8d8;
    -webkit-box-shadow: 0 0 2.992em 0 #d8d8d8;
    -moz-box-shadow: 0 0 2.992em 0 #d8d8d8;
    -o-box-shadow: 0 0 2.992em 0 #d8d8d8;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}
