/*-- [ Imports ] ----------------------------------------------------------------------------------------------*/
/*-- [ Colour variable resets ] ----------------------------------------------------------------------------------------------*/
html {
  background: #efefef;
}
body {
  color: #584e59;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #211722;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: #a87491;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #86526f;
}
label {
  color: #584e59;
}
.input-text,
input[type=text],
textarea {
  border-color: #ada3ae;
}
.input-text:focus,
input[type=text]:focus,
textarea:focus {
  border-color: #8b818c;
  box-shadow: 0 1px 2px 0 #dbdbdb;
  -webkit-box-shadow: 0 1px 2px 0 #dbdbdb;
  -moz-box-shadow: 0 1px 2px 0 #dbdbdb;
  -o-box-shadow: 0 1px 2px 0 #dbdbdb;
}
mark {
  color: #584e59;
}
a {
  color: #a87491;
}
a:hover {
  color: #86526f;
}
#navigation {
  background: #a87491;
  background: -webkit-gradient(linear, left top, left bottom, from(#a87491), to(#9e6485));
  background: -webkit-linear-gradient(#a87491, #9e6485);
  background: -moz-linear-gradient(center top, #a87491 0%, #9e6485 100%);
  background: -moz-gradient(center top, #a87491 0%, #9e6485 100%);
  border: 1px solid #86526f;
}
#navigation a {
  color: #facce6;
  text-shadow: 0 -1px 0 #86526f;
}
#navigation .mini-cart li mark.count {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
  background: #ca5661;
  background: -webkit-gradient(linear, left top, left bottom, from(#ca5661), to(#bc424e));
  background: -webkit-linear-gradient(#ca5661, #bc424e);
  background: -moz-linear-gradient(center top, #ca5661 0%, #bc424e 100%);
  background: -moz-gradient(center top, #ca5661 0%, #bc424e 100%);
  text-shadow: 0 1px 0 #a8343f;
}
#navigation .mini-cart li ul.cart_list {
  color: #5d374c;
  text-shadow: 0 1px 0 #b985a2;
}
#navigation .mini-cart li ul.cart_list li.cart_list_product {
  border-color: #885471;
  background: #a87491;
  background: -webkit-gradient(linear, left top, left bottom, from(#a87491), to(#9e6485));
  background: -webkit-linear-gradient(#a87491, #9e6485);
  background: -moz-linear-gradient(center top, #a87491 0%, #9e6485 100%);
  background: -moz-gradient(center top, #a87491 0%, #9e6485 100%);
}
#navigation .mini-cart li ul.cart_list li.cart_list_product img {
  border-color: #75415e;
  box-shadow: 0 0 0 1px #b2849d;
  -webkit-box-shadow: 0 0 0 1px #b2849d;
  -moz-box-shadow: 0 0 0 1px #b2849d;
  -o-box-shadow: 0 0 0 1px #b2849d;
}
#navigation .mini-cart li ul.cart_list li.total {
  background: #9e6485;
}
#navigation .mini-cart li ul.cart_list li.buttons {
  border-color: #885471;
  background: #a87491;
  background: -webkit-gradient(linear, left top, left bottom, from(#a87491), to(#9e6485));
  background: -webkit-linear-gradient(#a87491, #9e6485);
  background: -moz-linear-gradient(center top, #a87491 0%, #9e6485 100%);
  background: -moz-gradient(center top, #a87491 0%, #9e6485 100%);
}
#navigation .mini-cart li ul.cart_list li.buttons a.button {
  box-shadow: 0 0 0 1px #b2849d;
  -webkit-box-shadow: 0 0 0 1px #b2849d;
  -moz-box-shadow: 0 0 0 1px #b2849d;
  -o-box-shadow: 0 0 0 1px #b2849d;
  background: #86526f !important;
  border-color: #75415e;
}
#top #search-top .submit {
  background: none;
}
#top #search-top .submit:hover {
  background: none;
}
.nav-trigger {
  color: #a87491;
}
#header .site-description {
  color: #d3d3d3;
}
.slider li .more {
  background: #a87491;
  border-color: #86526f;
  background: #a87491;
  background: -webkit-gradient(linear, left top, left bottom, from(#a87491), to(#86526f));
  background: -webkit-linear-gradient(#a87491, #86526f);
  background: -moz-linear-gradient(center top, #a87491 0%, #86526f 100%);
  background: -moz-gradient(center top, #a87491 0%, #86526f 100%);
  text-shadow: 0 -1px 0 #75415e;
}
.slider li .more:hover {
  background: #b985a2;
  background: -webkit-gradient(linear, left top, left bottom, from(#b985a2), to(#86526f));
  background: -webkit-linear-gradient(#b985a2, #86526f);
  background: -moz-linear-gradient(center top, #b985a2 0%, #86526f 100%);
  background: -moz-gradient(center top, #b985a2 0%, #86526f 100%);
}
ol.flex-control-nav li a {
  border: 3px solid #a87491;
}
ol.flex-control-nav li a:hover,
ol.flex-control-nav li a.active {
  background: #a87491;
}
#footer {
  background: #dbdbdb;
  border-top-color: #bababa;
}
#footer-widgets {
  border-top-color: #cbcbcb;
  background: #e5e5e5;
}
#footer-widgets .widget {
  color: #7a707b;
}
/* 2.7 Breadcrumbs */
.breadcrumb {
  color: #9c929d;
  box-shadow: 0 1px 2px 0 #e2e2e2;
  -webkit-box-shadow: 0 1px 2px 0 #e2e2e2;
  -moz-box-shadow: 0 1px 2px 0 #e2e2e2;
  -o-box-shadow: 0 1px 2px 0 #e2e2e2;
  border-color: #c6c6c6;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -webkit-linear-gradient(#ffffff, #ededed);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ededed 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ededed 100%);
  text-shadow: 0 1px 0 #fefefe;
}
.breadcrumb a {
  color: #8b818c;
}
.breadcrumb a:hover {
  color: #695f6a;
}
.homepage ul.products li.featured {
  box-shadow: 0 0 2px 0 #a87491;
  -webkit-box-shadow: 0 0 2px 0 #a87491;
  -moz-box-shadow: 0 0 2px 0 #a87491;
  -o-box-shadow: 0 0 2px 0 #a87491;
}
.homepage ul.products li.featured:hover {
  border-color: #976380;
}
.go-shopping {
  border-color: #dbdbdb;
}
.archive_header {
  border-color: #beb4bf;
}
article.type-post,
article.type-page {
  box-shadow: 0 1px 2px 0 #e2e2e2;
  -webkit-box-shadow: 0 1px 2px 0 #e2e2e2;
  -moz-box-shadow: 0 1px 2px 0 #e2e2e2;
  -o-box-shadow: 0 1px 2px 0 #e2e2e2;
  border-color: #c6c6c6;
}
article.type-post:before,
article.type-page:before {
  background: #efefef;
  border-color: #c6c6c6;
  box-shadow: inset 0 0 6px 0 #e2e2e2;
  -webkit-box-shadow: inset 0 0 6px 0 #e2e2e2;
  -moz-box-shadow: inset 0 0 6px 0 #e2e2e2;
  -o-box-shadow: inset 0 0 6px 0 #e2e2e2;
}
.meta {
  color: #ada3ae;
}
.meta ul li a {
  color: #ada3ae;
}
.meta ul li a:hover {
  color: #7a707b;
}
.meta ul li a:before,
.meta ul li a:after {
  background: #ada3ae;
}
.meta ul li.date:before,
.meta ul li.date:after {
  border-color: #ada3ae;
  background: transparent;
}
.meta ul li.date:after {
  background: transparent;
}
.meta ul li.category a:after {
  background: #ada3ae;
}
.meta ul li.comments a:after {
  border: 2px solid transparent;
  border-top-color: #ada3ae;
  border-left-color: #ada3ae;
}
.meta ul li.tags:before {
  background: #ada3ae;
}
.post img,
.post img.thumbnail {
  box-shadow: 0 1px 2px 0 #beb4bf;
  -webkit-box-shadow: 0 1px 2px 0 #beb4bf;
  -moz-box-shadow: 0 1px 2px 0 #beb4bf;
  -o-box-shadow: 0 1px 2px 0 #beb4bf;
}
.post img:hover,
.post img.thumbnail:hover {
  border-color: #9c929d;
}
.post .wp-caption {
  box-shadow: 0 1px 2px 0 #beb4bf;
  -webkit-box-shadow: 0 1px 2px 0 #beb4bf;
  -moz-box-shadow: 0 1px 2px 0 #beb4bf;
  -o-box-shadow: 0 1px 2px 0 #beb4bf;
}
.nav-entries a {
  color: #7a707b;
}
.woo-pagination .page-numbers {
  color: #584e59;
  border: 1px solid #bababa;
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#e7e7e7));
  background: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background: -moz-linear-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  background: -moz-gradient(center top, #fefefe 0%, #e7e7e7 100%);
  text-shadow: 0 1px 0 #ffffff;
  -webkit-box-shadow: 0 1px 2px 0 #dcdcdc, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0 1px 2px 0 #dcdcdc, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
  box-shadow: 0 1px 2px 0 #dcdcdc, inset 0 0 0 1px rgba(255, 255, 255, 0.3);
}
.woo-pagination .page-numbers.dots + .page-numbers,
.woo-pagination .page-numbers:first-child {
  border-color: #bababa;
}
.woo-pagination .page-numbers:hover {
  background: #fefefe;
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#ededed));
  background: -webkit-linear-gradient(#fefefe, #ededed);
  background: -moz-linear-gradient(center top, #fefefe 0%, #ededed 100%);
  background: -moz-gradient(center top, #fefefe 0%, #ededed 100%);
}
.woo-pagination .page-numbers.current {
  background: #bababa;
  background: -webkit-gradient(linear, left top, left bottom, from(#bababa), to(#cbcbcb));
  background: -webkit-linear-gradient(#bababa, #cbcbcb);
  background: -moz-linear-gradient(center top, #bababa 0%, #cbcbcb 100%);
  background: -moz-gradient(center top, #bababa 0%, #cbcbcb 100%);
  border-color: #bababa;
  text-shadow: 0 1px 0 #989898;
  -webkit-box-shadow: 0 0 1px #a9a9a9, 0 1px 0 0 #ffffff;
  -moz-box-shadow: 0 0 1px #a9a9a9, 0 1px 0 0 #ffffff;
  box-shadow: 0 0 1px #a9a9a9, 0 1px 0 0 #ffffff;
}
#post-author .profile-content {
  color: #9c929d;
}
table {
  box-shadow: 0 1px 2px 0 #e2e2e2;
  -webkit-box-shadow: 0 1px 2px 0 #e2e2e2;
  -moz-box-shadow: 0 1px 2px 0 #e2e2e2;
  -o-box-shadow: 0 1px 2px 0 #e2e2e2;
  border-color: #c6c6c6;
}
table th {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7e7e7));
  background: -webkit-linear-gradient(#ffffff, #e7e7e7);
  background: -moz-linear-gradient(center top, #ffffff 0%, #e7e7e7 100%);
  background: -moz-gradient(center top, #ffffff 0%, #e7e7e7 100%);
  border-color: #c6c6c6;
  color: #473d48;
}
table td {
  border: 1px solid #c6c6c6;
  background: #ededed;
}
#connect {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #dcdcdc;
  -webkit-box-shadow: 0 1px 2px 0 #dcdcdc;
  -moz-box-shadow: 0 1px 2px 0 #dcdcdc;
  -o-box-shadow: 0 1px 2px 0 #dcdcdc;
}
#post-entries {
  box-shadow: 0 1px 2px 0 #e0e0e0;
  -webkit-box-shadow: 0 1px 2px 0 #e0e0e0;
  -moz-box-shadow: 0 1px 2px 0 #e0e0e0;
  -o-box-shadow: 0 1px 2px 0 #e0e0e0;
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -webkit-linear-gradient(#ffffff, #ededed);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ededed 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ededed 100%);
  border-color: #c6c6c6;
}
#post-entries a {
  color: #362c37;
  text-shadow: 0 1px 0 #fefefe;
}
#post-entries a:hover {
  background: #f1e7f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f1e7f2), to(#e0d6e1));
  background: -webkit-linear-gradient(#f1e7f2, #e0d6e1);
  background: -moz-linear-gradient(center top, #f1e7f2 0%, #e0d6e1 100%);
  background: -moz-gradient(center top, #f1e7f2 0%, #e0d6e1 100%);
}
#post-entries .nav-prev a {
  border-color: #beb4bf;
}
#post-entries .nav-next a {
  border-color: #beb4bf;
}
.widget {
  background: #e7e7e7;
  box-shadow: inset 0 0 3px 0 #adadad;
  -webkit-box-shadow: inset 0 0 3px 0 #adadad;
  -moz-box-shadow: inset 0 0 3px 0 #adadad;
  -o-box-shadow: inset 0 0 3px 0 #adadad;
  border: 1px solid #f9f9f9;
}
.widget .widget-inside {
  color: #9c929d;
  background: #ffffff;
  box-shadow: 0 0 3px 0 #adadad;
  -webkit-box-shadow: 0 0 3px 0 #adadad;
  -moz-box-shadow: 0 0 3px 0 #adadad;
  -o-box-shadow: 0 0 3px 0 #adadad;
}
.widget .widget-inside:first-child h3 {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ededed));
  background: -webkit-linear-gradient(#ffffff, #ededed);
  background: -moz-linear-gradient(center top, #ffffff 0%, #ededed 100%);
  background: -moz-gradient(center top, #ffffff 0%, #ededed 100%);
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 1px 2px 0 #eaeaea;
  -webkit-box-shadow: 0 1px 2px 0 #eaeaea;
  -moz-box-shadow: 0 1px 2px 0 #eaeaea;
  -o-box-shadow: 0 1px 2px 0 #eaeaea;
}
.widget .widget-inside a {
  color: #7a707b;
}
.widget .widget-inside a:hover {
  color: #584e59;
}
#footer-widgets .widget {
  background: #dbdbdb;
  box-shadow: inset 0 0 3px 0 #939393;
  -webkit-box-shadow: inset 0 0 3px 0 #939393;
  -moz-box-shadow: inset 0 0 3px 0 #939393;
  -o-box-shadow: inset 0 0 3px 0 #939393;
  border-color: #f2f2f2;
}
.widget_woo_blogauthorinfo .avatar {
  border-color: #beb4bf;
}
.widget_woo_twitter ul li {
  background: #ededed;
  border-color: #ededed;
}
.widget_woo_twitter ul li:after {
  border: 0.5em solid #ededed;
  border-color: #ededed transparent transparent transparent;
}
/* WOOTABS */
#tabs ul.wooTabs li a {
  border-color: #dbdbdb;
}
.widget ul.product_list_widget li img,
.widget ul.cart_list li img {
  box-shadow: 0 1px 2px 0 #beb4bf;
  -webkit-box-shadow: 0 1px 2px 0 #beb4bf;
  -moz-box-shadow: 0 1px 2px 0 #beb4bf;
  -o-box-shadow: 0 1px 2px 0 #beb4bf;
}
.widget_layered_nav li .count {
  background: #ededed;
  text-shadow: 0 1px 0 #fefefe;
  border-color: #cccccc;
}
.widget_price_filter .price_slider_amount {
  color: #9c929d;
}
.widget_price_filter .ui-slider .ui-slider-handle {
  border-color: #7a707b;
  box-shadow: 0 0 2px 0 #ada3ae;
  -webkit-box-shadow: 0 0 2px 0 #ada3ae;
  -moz-box-shadow: 0 0 2px 0 #ada3ae;
  -o-box-shadow: 0 0 2px 0 #ada3ae;
}
.widget_price_filter .ui-slider .ui-slider-handle:hover {
  box-shadow: 0 0 4px 0 #a87491;
  -webkit-box-shadow: 0 0 4px 0 #a87491;
  -moz-box-shadow: 0 0 4px 0 #a87491;
  -o-box-shadow: 0 0 4px 0 #a87491;
}
.widget_price_filter .ui-slider .ui-slider-range {
  background-color: #a87491;
  box-shadow: inset 0 0 2px 0 #531f3c;
  -webkit-box-shadow: inset 0 0 2px 0 #531f3c;
  -moz-box-shadow: inset 0 0 2px 0 #531f3c;
  -o-box-shadow: inset 0 0 2px 0 #531f3c;
}
.widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #7a707b;
  background: -webkit-gradient(linear, left top, left bottom, from(#7a707b), to(#9c929d));
  background: -webkit-linear-gradient(#7a707b, #9c929d);
  background: -moz-linear-gradient(center top, #7a707b 0%, #9c929d 100%);
  background: -moz-gradient(center top, #7a707b 0%, #9c929d 100%);
  -webkit-box-shadow: inset 0 1px 2px #473d48, 0 0 0 1px #ffffff;
  -moz-box-shadow: inset 0 1px 2px #473d48, 0 0 0 1px #ffffff;
  box-shadow: inset 0 1px 2px #473d48, 0 0 0 1px #ffffff;
}
/* Search (#searchform = wc, .searchform = wf) */
#sidebar #searchform,
#footer-widgets #searchform,
#sidebar .searchform,
#footer-widgets .searchform {
  color: #7a707b;
  border-color: #cfc5d0;
}
#comments .comment .comment-entry,
#comments .comment .comment-text {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #dcdcdc;
  -webkit-box-shadow: 0 1px 2px 0 #dcdcdc;
  -moz-box-shadow: 0 1px 2px 0 #dcdcdc;
  -o-box-shadow: 0 1px 2px 0 #dcdcdc;
  color: #8b818c;
}
#comments .comment .comment-entry:before,
#comments .comment .comment-text:before {
  border: 0.5em solid #ffffff;
  border-color: transparent;
  border-right-color: #ffffff;
}
#comments .comment .comment-head,
#comments .comment p.meta {
  color: #ada3ae;
}
#comments .comment .comment-head .name,
#comments .comment p.meta .name {
  color: #584e59;
}
#comments .comment .comment-head .perma a,
#comments .comment p.meta .perma a {
  border-color: #e0d6e1;
  color: #7a707b;
  background: #ffffff;
}
#comments .comment .comment-head .perma a:hover,
#comments .comment p.meta .perma a:hover {
  border-color: #cfc5d0;
}
#respond {
  background: #ffffff;
  box-shadow: 0 1px 2px 0 #dcdcdc;
  -webkit-box-shadow: 0 1px 2px 0 #dcdcdc;
  -moz-box-shadow: 0 1px 2px 0 #dcdcdc;
  -o-box-shadow: 0 1px 2px 0 #dcdcdc;
}
#respond #reply-title small a:hover {
  background-color: #a87491;
}
#archives .archives_list {
  border-color: #beb4bf;
}
#archives .archives_list li {
  border-color: #beb4bf;
}
#archives .archives_list .date {
  color: #9c929d;
}
#archives .archives_list .comments a {
  color: #7a707b;
}
mark.featured {
  background: #a87491;
}
ul.products li.product {
  box-shadow: 0 0 4px 0 #bababa;
  -webkit-box-shadow: 0 0 4px 0 #bababa;
  -moz-box-shadow: 0 0 4px 0 #bababa;
  -o-box-shadow: 0 0 4px 0 #bababa;
}
ul.products li.product h3 {
  color: #a87491;
}
ul.products li.product .price {
  color: #473d48;
}
ul.products li.product .excerpt p {
  color: #7a707b;
}
.woocommerce .type-product .images a:hover img {
  background: #ffffff;
}
.woocommerce .type-product .images img {
  background: #f9f9f9;
  border-color: #fefefe;
  box-shadow: 0 1px 2px 0 #dbdbdb;
  -webkit-box-shadow: 0 1px 2px 0 #dbdbdb;
  -moz-box-shadow: 0 1px 2px 0 #dbdbdb;
  -o-box-shadow: 0 1px 2px 0 #dbdbdb;
}
.woocommerce .type-product .summary .product_meta {
  color: #9c929d;
}
.woocommerce .type-product .summary .product_meta a {
  color: #7a707b;
}
.woocommerce .type-product h2 {
  color: #251b26;
}
.woocommerce .woocommerce_tabs ul.tabs li a,
.woocommerce .woocommerce-tabs ul.tabs li a {
  border-color: #dbdbdb;
}
.woocommerce .woocommerce_tabs ul.tabs li a:hover,
.woocommerce .woocommerce-tabs ul.tabs li a:hover {
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f4f4f4));
  background: -webkit-linear-gradient(#fcfcfc, #f4f4f4);
  background: -moz-linear-gradient(center top, #fcfcfc 0%, #f4f4f4 100%);
  background: -moz-gradient(center top, #fcfcfc 0%, #f4f4f4 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #86526f;
}
.woocommerce .woocommerce_tabs ul.tabs li.active a,
.woocommerce .woocommerce-tabs ul.tabs li.active a {
  background: #fcfcfc;
  background: -webkit-gradient(linear, left top, left bottom, from(#fcfcfc), to(#f4f4f4));
  background: -webkit-linear-gradient(#fcfcfc, #f4f4f4);
  background: -moz-linear-gradient(center top, #fcfcfc 0%, #f4f4f4 100%);
  background: -moz-gradient(center top, #fcfcfc 0%, #f4f4f4 100%);
  box-shadow: inset 0 1px 1px 0 #ffffff;
  -webkit-box-shadow: inset 0 1px 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 1px 0 #ffffff;
  -o-box-shadow: inset 0 1px 1px 0 #ffffff;
  color: #86526f;
}
.woocommerce .woocommerce_tabs .panel,
.woocommerce .woocommerce-tabs .panel {
  border-color: #dbdbdb;
  background: #f4f4f4;
}
.quantity input.qty {
  border-color: #9c929d;
  box-shadow: inset 0 0 2px 0 #beb4bf;
  -webkit-box-shadow: inset 0 0 2px 0 #beb4bf;
  -moz-box-shadow: inset 0 0 2px 0 #beb4bf;
  -o-box-shadow: inset 0 0 2px 0 #beb4bf;
}
.quantity .plus,
.quantity .minus {
  border-color: #75415e;
  background: #a87491;
  background: -webkit-gradient(linear, left top, left bottom, from(#a87491), to(#976380));
  background: -webkit-linear-gradient(#a87491, #976380);
  background: -moz-linear-gradient(center top, #a87491 0%, #976380 100%);
  background: -moz-gradient(center top, #a87491 0%, #976380 100%);
  text-shadow: 0 1px 0 #75415e;
}
.quantity .plus:hover,
.quantity .minus:hover {
  background: #b985a2;
  background: -webkit-gradient(linear, left top, left bottom, from(#b985a2), to(#976380));
  background: -webkit-linear-gradient(#b985a2, #976380);
  background: -moz-linear-gradient(center top, #b985a2 0%, #976380 100%);
  background: -moz-gradient(center top, #b985a2 0%, #976380 100%);
}
#customer_details {
  background: #f9f9f9;
  box-shadow: 0 1px 2px 0 #e2e2e2;
  -webkit-box-shadow: 0 1px 2px 0 #e2e2e2;
  -moz-box-shadow: 0 1px 2px 0 #e2e2e2;
  -o-box-shadow: 0 1px 2px 0 #e2e2e2;
  border: 1px solid #c6c6c6;
}
ul.payment_methods {
  background: #f9f9f9;
  box-shadow: 0 1px 2px 0 #e2e2e2;
  -webkit-box-shadow: 0 1px 2px 0 #e2e2e2;
  -moz-box-shadow: 0 1px 2px 0 #e2e2e2;
  -o-box-shadow: 0 1px 2px 0 #e2e2e2;
  border: 1px solid #c6c6c6;
}
ul.payment_methods .payment_box {
  background: #ededed;
}
ul.digital-downloads li {
  border-color: #beb4bf;
}
a.button,
#commentform #submit,
.submit,
input[type=submit],
input.button,
button.button {
  border-color: #362c37;
  background: #a87491;
  background: -webkit-gradient(linear, left top, left bottom, from(#a87491), to(#86526f));
  background: -webkit-linear-gradient(#a87491, #86526f);
  background: -moz-linear-gradient(center top, #a87491 0%, #86526f 100%);
  background: -moz-gradient(center top, #a87491 0%, #86526f 100%);
  color: #ffffff !important;
  text-shadow: 0 -1px 0 #64304d;
  -webkit-box-shadow: inset 0 1px 0 #ca96b3, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #ca96b3, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #ca96b3, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
a.button:hover,
#commentform #submit:hover,
.submit:hover,
input[type=submit]:hover,
input.button:hover,
button.button:hover {
  background: #b985a2;
  background: -webkit-gradient(linear, left top, left bottom, from(#b985a2), to(#86526f));
  background: -webkit-linear-gradient(#b985a2, #86526f);
  background: -moz-linear-gradient(center top, #b985a2 0%, #86526f 100%);
  background: -moz-gradient(center top, #b985a2 0%, #86526f 100%);
}
.button.alt {
  background: #74a88b;
  background: -webkit-gradient(linear, left top, left bottom, from(#74a88b), to(#528669));
  background: -webkit-linear-gradient(#74a88b, #528669);
  background: -moz-linear-gradient(center top, #74a88b 0%, #528669 100%);
  background: -moz-gradient(center top, #74a88b 0%, #528669 100%);
  text-shadow: 0 -1px 0 #306447;
  border-color: #2d372c;
  -webkit-box-shadow: inset 0 1px 0 #96caad, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 0 #96caad, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 0 #96caad, inset 0 -1px 0 rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.75);
}
.button.alt:hover {
  background: #85b99c;
  background: -webkit-gradient(linear, left top, left bottom, from(#85b99c), to(#528669));
  background: -webkit-linear-gradient(#85b99c, #528669);
  background: -moz-linear-gradient(center top, #85b99c 0%, #528669 100%);
  background: -moz-gradient(center top, #85b99c 0%, #528669 100%);
}
/* 11.5 Messages / info boxes */
.woocommerce_message,
.info,
.woocommerce_error {
  border-color: #a87491;
}
.woocommerce_message:before,
.info:before,
.woocommerce_error:before {
  background-color: #a87491;
}
.ie6 .button,
.ie6 .button:visited {
  color: #7a707b !important;
}
.ie6 .reply a {
  color: #7a707b !important;
}
.ie8 #top {
  background: #f9f9f9;
  border-color: #e0e0e0;
}
.ie8 #top #search-top .submit:hover {
  background: #fefefe;
}
.ie8 #top .nav a {
  color: #ada3ae;
}
.ie8 #top .nav a:hover {
  color: #8b818c;
}
.ie8 #top .nav li.current_page_item a,
.ie8 #top .nav li.current_page_parent a,
.ie8 #top .nav li.current-menu-ancestor a,
.ie8 #top .nav li.current-cat a,
.ie8 #top .nav li.li.current-menu-item a,
.ie8 #top .nav li.sfHover a {
  color: #8b818c;
}
.ie8 #top .nav li ul {
  background: #f9f9f9;
  border-color: #e0e0e0;
}
.ie8 #top .nav li ul li a:hover {
  color: #584e59;
}
.ie8 #navigation {
  background: none;
  filter: none;
  border: none;
}
.ie8 #navigation .nav li:hover a:after,
.ie8 #navigation .nav li:hover a:before {
  border-color: #e7e7e7;
}
.ie8 #navigation .nav li:hover a:before {
  border-color: transparent #e7e7e7 #e7e7e7 transparent;
}
.ie8 #navigation .nav li:hover a:after {
  border-color: transparent transparent #e7e7e7 #e7e7e7;
}
.ie8 #navigation .nav li a {
  color: #695f6a;
  text-shadow: 0 1px 0 #fefefe;
}
.ie8 #navigation .nav li a:hover {
  background: #dbdbdb;
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e7e7e7));
  background: -webkit-linear-gradient(#dbdbdb, #e7e7e7);
  background: -moz-linear-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
  background: -moz-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
}
.ie8 #navigation .nav li a:hover:after,
.ie8 #navigation .nav li a:hover:before {
  border-color: #e7e7e7;
}
.ie8 #navigation .nav li a:hover:before {
  border-color: transparent #e7e7e7 #e7e7e7 transparent;
}
.ie8 #navigation .nav li a:hover:after {
  border-color: transparent transparent #e7e7e7 #e7e7e7;
}
.ie8 #navigation .nav li.current_page_item a,
.ie8 #navigation .nav li.current-menu-item a {
  background: #dbdbdb;
  background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e7e7e7));
  background: -webkit-linear-gradient(#dbdbdb, #e7e7e7);
  background: -moz-linear-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
  background: -moz-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after,
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: #f2f2f2;
}
.ie8 #navigation .nav li.current_page_item a:before,
.ie8 #navigation .nav li.current-menu-item a:before {
  border-color: transparent #e7e7e7 #e7e7e7 transparent;
}
.ie8 #navigation .nav li.current_page_item a:after,
.ie8 #navigation .nav li.current-menu-item a:after {
  border-color: transparent transparent #e7e7e7 #e7e7e7;
}
.ie8 #navigation .nav li ul {
  background: #a87491;
}
.ie8 #navigation .nav li ul li a {
  color: #facce6;
  text-shadow: 0 -1px 0 #86526f;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover {
  background: #a87491;
  color: #facce6;
  text-shadow: 0 -1px 0 #976380;
}
.ie8 #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
.ie8 #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
  border-color: transparent transparent #a87491 #a87491;
}
.ie8 #navigation .nav li:hover a.sf-with-ul {
  background: #a87491;
  color: #facce6;
  text-shadow: 0 -1px 0 #86526f;
  filter: none;
}
.ie8 #navigation .nav li:hover a.sf-with-ul:after {
  border-color: transparent transparent #a87491 #a87491;
}
.ie8 #navigation .mini-cart li ul.cart_list {
  border-color: #885471;
}
.ie8 #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
.ie8 #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
  border-color: transparent #a87491 #a87491 transparent;
}
.ie8 #navigation .mini-cart li:hover a.sf-with-ul:before {
  border-color: transparent #a87491 #a87491 transparent;
}
.ie8 #content.homepage ul.products li.featured:hover {
  box-shadow: 0 0 1em 0 #b985a2;
  -webkit-box-shadow: 0 0 1em 0 #b985a2;
  -moz-box-shadow: 0 0 1em 0 #b985a2;
  -o-box-shadow: 0 0 1em 0 #b985a2;
}
.ie8 #sidebar {
  text-shadow: 0 1px 0 #f9f9f9;
}
.ie8 ul.products li.product:hover {
  border-color: #878787;
}
.ie8 .header-wrap {
  background: #ffffff;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
  background: -webkit-linear-gradient(#ffffff, #f4f4f4);
  background: -moz-linear-gradient(center top, #ffffff 0%, #f4f4f4 100%);
  background: -moz-gradient(center top, #ffffff 0%, #f4f4f4 100%);
  box-shadow: 0 0 2.992em 0 #dcdcdc;
  -webkit-box-shadow: 0 0 2.992em 0 #dcdcdc;
  -moz-box-shadow: 0 0 2.992em 0 #dcdcdc;
  -o-box-shadow: 0 0 2.992em 0 #dcdcdc;
}
@media only screen and (min-width: 768px) {
  #top {
    background: #f9f9f9;
    border-color: #e0e0e0;
  }
  #top #search-top .submit:hover {
    background: #fefefe;
  }
  #top .nav a {
    color: #ada3ae;
  }
  #top .nav a:hover {
    color: #8b818c;
  }
  #top .nav li.current_page_item a,
  #top .nav li.current_page_parent a,
  #top .nav li.current-menu-ancestor a,
  #top .nav li.current-cat a,
  #top .nav li.li.current-menu-item a,
  #top .nav li.sfHover a {
    color: #8b818c;
  }
  #top .nav li ul {
    background: #f9f9f9;
    border-color: #e0e0e0;
  }
  #top .nav li ul li a:hover {
    color: #584e59;
  }
  #navigation {
    background: none;
    filter: none;
    border: none;
  }
  #navigation .nav li:hover a:after,
  #navigation .nav li:hover a:before {
    border-color: #e7e7e7;
  }
  #navigation .nav li:hover a:before {
    border-color: transparent #e7e7e7 #e7e7e7 transparent;
  }
  #navigation .nav li:hover a:after {
    border-color: transparent transparent #e7e7e7 #e7e7e7;
  }
  #navigation .nav li a {
    color: #695f6a;
    text-shadow: 0 1px 0 #fefefe;
  }
  #navigation .nav li a:hover {
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e7e7e7));
    background: -webkit-linear-gradient(#dbdbdb, #e7e7e7);
    background: -moz-linear-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
    background: -moz-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
  }
  #navigation .nav li a:hover:after,
  #navigation .nav li a:hover:before {
    border-color: #e7e7e7;
  }
  #navigation .nav li a:hover:before {
    border-color: transparent #e7e7e7 #e7e7e7 transparent;
  }
  #navigation .nav li a:hover:after {
    border-color: transparent transparent #e7e7e7 #e7e7e7;
  }
  #navigation .nav li.current_page_item a,
  #navigation .nav li.current-menu-item a {
    background: #dbdbdb;
    background: -webkit-gradient(linear, left top, left bottom, from(#dbdbdb), to(#e7e7e7));
    background: -webkit-linear-gradient(#dbdbdb, #e7e7e7);
    background: -moz-linear-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
    background: -moz-gradient(center top, #dbdbdb 0%, #e7e7e7 100%);
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after,
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: #f2f2f2;
  }
  #navigation .nav li.current_page_item a:before,
  #navigation .nav li.current-menu-item a:before {
    border-color: transparent #e7e7e7 #e7e7e7 transparent;
  }
  #navigation .nav li.current_page_item a:after,
  #navigation .nav li.current-menu-item a:after {
    border-color: transparent transparent #e7e7e7 #e7e7e7;
  }
  #navigation .nav li ul {
    background: #a87491;
  }
  #navigation .nav li ul li a {
    color: #facce6;
    text-shadow: 0 -1px 0 #86526f;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover {
    background: #a87491;
    color: #facce6;
    text-shadow: 0 -1px 0 #976380;
  }
  #navigation .nav li.current_page_item a.sf-with-ul:hover:after,
  #navigation .nav li.current-menu-item a.sf-with-ul:hover:after {
    border-color: transparent transparent #a87491 #a87491;
  }
  #navigation .nav li:hover a.sf-with-ul {
    background: #a87491;
    color: #facce6;
    text-shadow: 0 -1px 0 #86526f;
    filter: none;
  }
  #navigation .nav li:hover a.sf-with-ul:after {
    border-color: transparent transparent #a87491 #a87491;
  }
  #navigation .mini-cart li ul.cart_list {
    border-color: #885471;
  }
  #navigation .mini-cart li.current_page_item a.sf-with-ul:hover:before,
  #navigation .mini-cart li.current-menu-item a.sf-with-ul:hover:before {
    border-color: transparent #a87491 #a87491 transparent;
  }
  #navigation .mini-cart li:hover a.sf-with-ul:before {
    border-color: transparent #a87491 #a87491 transparent;
  }
  #content.homepage ul.products li.featured:hover {
    box-shadow: 0 0 1em 0 #b985a2;
    -webkit-box-shadow: 0 0 1em 0 #b985a2;
    -moz-box-shadow: 0 0 1em 0 #b985a2;
    -o-box-shadow: 0 0 1em 0 #b985a2;
  }
  #sidebar {
    text-shadow: 0 1px 0 #f9f9f9;
  }
  ul.products li.product:hover {
    border-color: #878787;
  }
  .header-wrap {
    background: #ffffff;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f4f4f4));
    background: -webkit-linear-gradient(#ffffff, #f4f4f4);
    background: -moz-linear-gradient(center top, #ffffff 0%, #f4f4f4 100%);
    background: -moz-gradient(center top, #ffffff 0%, #f4f4f4 100%);
    box-shadow: 0 0 2.992em 0 #dcdcdc;
    -webkit-box-shadow: 0 0 2.992em 0 #dcdcdc;
    -moz-box-shadow: 0 0 2.992em 0 #dcdcdc;
    -o-box-shadow: 0 0 2.992em 0 #dcdcdc;
  }
}
